body {
  padding-top: 40px;
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}
a {
  color: rgba(0,0,0,0.7);
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}
p {
  font-size: 17px;
}
hr {
  border: 3px solid #e09d55;
  margin: 0;
}
hr.first {
  margin-top: 40px;
}
.light p,
.light h1,
.light h2 {
  text-shadow: 0 1px rgba(255,255,255,0.75);
}
.light img {
  border: 1px solid rgba(0,0,0,0.7);
}
.light ::-moz-selection {
  background: #ccc;
  text-shadow: none;
}
.light ::selection {
  background: #ccc;
  text-shadow: none;
}
div.arrow-h {
  position: absolute;
  left: 50%;
  margin-top: -16px;
}
div.arrow-v {
  display: none;
  position: absolute;
  left: 50%;
  margin-top: -71px;
}
.dark p,
.dark h1,
.dark h2,
.dark a {
  color: rgba(255,255,255,0.6);
  text-shadow: 0 1px rgba(0,0,0,0.75);
}
.dark img {
  border: 1px solid rgba(255,255,255,0.6);
}
.dark img.arrow-h {
  border: none;
  position: relative;
  left: -50%;
}
.dark img.arrow-v {
  border: none;
  position: relative;
  left: -50%;
}
.dark ::-moz-selection {
  background: #444;
  text-shadow: none;
}
.dark ::selection {
  background: #444;
  text-shadow: none;
}
.navbar .navbar-inner {
  background: rgba(255,255,255,0.95);
}
.navbar .nav li a {
  margin-bottom: -6px;
}
.navbar .nav > .active a {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0,0,0,0.1);
  border-bottom: 4px solid #e09d55;
}
.header-logo {
  height: 500px;
  background-image: url("../img/dark_wood.png");
  background-position: center;
}
.header-logo > .header-glow {
  height: 100%;
  width: 100%;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=");
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.2)), color-stop(2%, rgba(255,255,255,0.2)), color-stop(25%, rgba(255,255,255,0.2)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 100%);
}
.header-logo > .header-glow > img {
  top: 100px;
  position: relative;
  display: block;
  margin: auto;
}
.header-dictionary {
  padding: 50px 0;
}
.header-dictionary h1,
.header-dictionary h2,
.header-dictionary p {
  margin: 0;
  font-family: "Libre Baskerville", "Garamond", "Times", "Times New Roman", serif;
  font-weight: normal;
  text-transform: none;
  text-align: left;
}
.header-dictionary h1 strong,
.header-dictionary h2 strong,
.header-dictionary p strong {
  font-weight: bold;
}
.header-dictionary h1 {
  font-size: 32px;
}
.header-dictionary h2 {
  font-size: 26px;
  font-style: italic;
}
.header-dictionary p {
  font-size: 18px;
  line-height: 32px;
  font-style: italic;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
h1 > span {
  padding: 0 15px;
}
.header-line {
  border-top: 1px solid rgba(0,0,0,0.7);
  margin-bottom: 48px;
  margin-top: -37px;
  width: 100%;
}
.dark .header-line {
  border-top: 1px solid rgba(255,255,255,0.6);
}
#slide-dictionary {
  background-image: url("../img/pw_maze_white.png");
}
#slide-design {
  background-image: url("../img/debut_light.png");
}
#slide-design h1 > span {
  background-image: url("../img/debut_light.png");
}
#slide-features {
  background-image: url("../img/grey_wash_wall.png");
}
#slide-features h1 > span {
  background-image: url("../img/grey_wash_wall.png");
}
#slide-techno {
  background-image: url("../img/white_carbonfiber.png");
}
#slide-techno h1 > span {
  background-image: url("../img/white_carbonfiber.png");
}
ul.thumbnails img + p {
  margin-top: 15px;
}
ul.bubbles li .bubble {
  height: 200px;
  width: 200px;
  margin: 0 auto 20px;
  background-image: url("../img/debut_light.png");
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
ul.bubbles li .bubble > i.icon {
  display: block;
  text-align: center;
  cursor: default;
}
ul.bubbles li .bubble > i.icon.vpf {
  padding-top: 45px;
  font-size: 100px;
}
ul.bubbles li .bubble > i.icon.ipdb {
  padding-top: 64px;
  font-size: 70px;
}
ul.bubbles li .bubble > span.dmd {
  font-family: ozoneregular;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 28px;
  position: relative;
  top: 50px;
  left: 2px;
  cursor: default;
}
ul.bubbles li .bubble img {
  border: none;
}
ul.bubbles p {
  text-align: center;
}
.light ul.bubbles li .bubble {
  border: 1px solid rgba(0,0,0,0.2);
}
.bubble-ng > img {
  width: 154px;
  margin-top: 25px;
}
.bubble-ss > img {
  width: 142px;
  margin-top: 29px;
}
.bubble-node > img {
  width: 141px;
  margin-top: 28px;
}
.row-fluid ul.thumbnails li.span12 + li {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) {
  margin-left: 0px;
  clear: left;
}
@font-face {
  font-family: 'ozoneregular';
  src: url("../fonts/ozone-webfont.eot");
  src: url("../fonts/ozone-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ozone-webfont.woff") format('woff'), url("../fonts/ozone-webfont.ttf") format('truetype'), url("../fonts/ozone-webfont.svg#ozoneregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pind-symbols';
  src: url("../fonts/pind-symbols.eot?72455");
  src: url("../fonts/pind-symbols.eot?72455") format('embedded-opentype'), url("../fonts/pind-symbols.woff?72455") format('woff'), url("../fonts/pind-symbols.ttf?72455") format('truetype'), url("../fonts/pind-symbols.svg?72455#pind-symbols") format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'pind-symbols';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.ipdb:before {
  content: "\e00c";
}
.icon.vpf:before {
  content: "\e00d";
}
@media (max-width: 480px) {
  .header-logo {
    height: 300px;
  }
  .header-logo .header-glow img {
    top: 80px;
    width: 70%;
  }
  div.arrow-v {
    display: inline;
  }
}
@media (max-width: 767px) {
  section .container {
    padding: 0 40px;
  }
  .navbar {
    margin-bottom: -6px;
  }
  .navbar .navbar-inner {
    padding: 0 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
  }
  div.arrow-h {
    display: none;
  }
  div.arrow-v {
    display: inline;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar {
    margin-bottom: -6px;
  }
  .navbar .navbar-inner {
    padding-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 40px;
  }
  div.arrow-h {
    margin-top: -140px;
  }
  div.arrow-v {
    display: none;
  }
}
@media (min-width: 1200px) {
  div.arrow-h {
    margin-top: -190px;
  }
  div.arrow-v {
    display: none;
  }
}
.navbar-fixed-top {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
