@font-face {
	font-family: 'pind-symbols';
	src:url('../fonts/pind-symbols.eot');
	src:url('../fonts/pind-symbols.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pind-symbols.woff') format('woff'),
		url('../fonts/pind-symbols.ttf') format('truetype'),
		url('../fonts/pind-symbols.svg#pind-symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}
