.idea
app/server/modules/email-settings-mine.js
bin/pinemhi.ini
logs/*
settings-mine.js
settings-new.js
settings-patched.js
settings-err.js
package-new.json
version.json
test*.js
*.db
*.sqlite
node_modules
gfx
highscores.txt
