!!! 5
html
	head
		title Pind - A Pinball Daemon
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:800", rel="stylesheet", type="text/css")
		link(href="css/comingsoon.css", rel="stylesheet", type="text/css", media="screen")

	body
		.gradient
			.center
				.content
					i.icon.pd-round
					p coming soon
			
