@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); transform-origin: 50% 53%  }
	100% { -moz-transform: rotate(359deg); transform-origin: 50% 53% }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); transform-origin: 0% 0% }
	100% { -webkit-transform: rotate(359deg); transform-origin: 0% 0% }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg); transform-origin: 50% 53% }
	100% { -o-transform: rotate(359deg); transform-origin: 50% 53% }
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg); transform-origin: 50% 53% }
	100% { -ms-transform: rotate(359deg); transform-origin: 50% 53% }
}


@-moz-keyframes pulsegreen {
	0% { background-color: #126a00 }
	100% { background-color: #083000 }
}
@-webkit-keyframes pulsegreen {
	0% { background-color: #126a00 }
	100% { background-color: #083000 }
}
@-o-keyframes pulsegreen {
	0% { background-color: #126a00 }
	100% { background-color: #083000 }
}
@-ms-keyframes pulsegreen {
	0% { background-color: #126a00 }
	100% { background-color: #083000 }
}
@keyframes pulsegreen {
	0% { background-color: #126a00 }
	100% { background-color: #083000 }
}

/* see also http://www.yearofmoo.com/nganimate-css3/ */
.animated {
	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	-o-animation-duration: 0.7s;
	animation-duration: 0.7s;
}