
color-darkest     = #3e3429  // nearly-black background
color-darker      = #473522  // text and foreground glyphes
color-dark        = #625648	// slightly lighter text and foreground glyphes
color-dark-noise  = url('/images/bg_brown_noise.png')
color-medium      = #9d9e9e  // text in blurred input fields or less important

color-text        = rgba(0,0,0,0.65)
color-text-link   = rgba(0,0,0,0.85)
color-lightish    = rgba(81,67,54,0.30)           // darker than highlighted background
color-light       = rgba(81,67,54,0.15)           // highlighted background, or rgba(126,111,99,0.28)
color-lighter     = url('/images/bg_redox_01.png') // standard background (#f0f0f0)
color-lighter-rgb = #f3f3f3 // same tone as above.

color-btn-light  = #e09d55  // default button background
color-btn-light1 = #bf813f  // color 1 for gradient 3d buttons
color-btn-light2 = #d99b59  // color 2 for gradient 3d buttons
color-btn-light3 = #ab7337  // color 3 for gradient 3d buttons
color-btn-light4 = #9c6224  // color 4 for gradient 3d buttons
color-btn-dark   = #b87d3e  // typically when pushed
color-btn-border = #d48f46  // default button border

color-bg-focus   = #f1ede8  // background in focused input fields

color-red = #b94a48

corner-size = 20px
corner-size-small = 3px

animation-faster = 0.1s
animation-fast = 0.3s
animation-slow = 0.5s


// :fonts
// ============================================================================

font-serif = 'Arvo', serif
font-sans = 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
font-fixed = Inconsolata, Consolas, 'Courier New', Fixed, monospace
font-dmd = ozoneregular
font-console = 'Pind DMD'
