extends layout

block vars
	- var pageController = 'AdminGlobalCtrl'
	- var mainMenu = "admin"
	- var subMenu = "global"

block inner-content

	.inner(ng-controller='DataCtrl', resource="hyperpin.ipdbmatch")

		h2 Link HyperPin games to IPDB

		//- pager
		pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

		//- number of rows
		numrows.numrows.input-mini.pull-right(selection='[10, 20, 30]', value='limit')

		//- filter pills
		ul.nav.nav-pills.pull-left.filter(filters, value='filters')
			li
				.icon
					i.icon.filter(title="Filter by")
			li(data-filter="all")
				a(href="#") All
		.clearfix

		//- data
		div.data.ng-cloak(style="display:none")
			.row-fluid
				ul.thumbnails
					li.span6.vpf.item(ng-repeat="row in data")
						.thumbnail
							.div.pull-left
								h3 {{ row.name }}
								h4 {{ row.manufacturer }}
								h4 {{ row.year }}
							.div.pull-right
								h3 {{ row.hp_name }}
		.clearfix

		//- empty search result
		div.noresult(style="display:none")
			p No results found.

		//- no data
		div.nodata(style="display:none")
			p No results found.

		.clearfix
	div