extends layout

block vars
	- var pageController = 'AdminGlobalCtrl'
	- var mainMenu = "admin"
	- var subMenu = "global"

block inner-content

	.inner(ng-controller='DataCtrl', resource="hyperpin.ipdbmatch")

		h2 Link HyperPin games to IPDB

		//- pager
		pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

		//- number of rows
		numrows.numrows.input-mini.pull-right(selection='[10, 20, 30]', value='limit')

		//- filter pills
		ul.nav.nav-pills.pull-left.filter(filters, value='filters')
			li
				.icon
					i.icon.filter(title="Filter by")
			li(data-filter="identical")
				a(href="#") Identical
			li(data-filter="nomatch")
				a(href="#") Unmatched
		.clearfix

		//- data
		div.data.ng-cloak(style="display:none")
			.row-fluid
				ul.thumbnails
					li.span6.vpf.item(ng-repeat="row in data", ng-controller="IpdbHpItemCtrl")
						.thumbnail.thumbnail-padding
							i.icon.ipdb.hpmatch
							img.clickable.hpmatch(ng-src="/images/hplogo-grey.svg")
							.div.pull-left
								a(href="http://ipdb.org/search.pl?any={{row.name}}&search=Search+Database&searchtype=quick", target="_blank")
									h3(class="{{ row.norm.name == row.hp.norm.name ? '' : 'diff' }}") {{ row.hp.name }}
								h4(class="{{ row.norm.manufacturer == row.hp.norm.manufacturer ? '' : 'diff' }}") {{ row.hp.manufacturer }}
								h4(class="{{ row.norm.year == row.hp.norm.year ? '' : 'diff' }}") {{ row.hp.year }}
							.div.pull-right(ng-show="row.ipdb_no")
								a(href="http://www.ipdb.org/machine.cgi?id={{row.ipdb_no}}", target="_blank")
									h3(class="{{ row.norm.name == row.hp.norm.name ? '' : 'diff' }}") {{ row.name }}
								h4(class="{{ row.norm.manufacturer == row.hp.norm.manufacturer ? '' : 'diff' }}") {{ row.manufacturer }}
								h4(class="{{ row.norm.year == row.hp.norm.year ? '' : 'diff' }}") {{ row.year }}
							.clearfix
							form.form-inline(ng-submit="change()")
								button.btn(type="button", ng-click="refresh()")
									i.icon.refresh
								span &nbsp;&nbsp;
								button.btn(type="button", ng-hide="row.ipdb_data.confirmed", ng-click="confirm()")
									i.icon.ok
									span &nbsp;&nbsp;Confirm
								span(ng-hide="row.ipdb_data.confirmed") &nbsp;&nbsp;
								button.btn(type="button", ng-click="original()")
									i.icon.remove
									span &nbsp;&nbsp;OG
								span &nbsp;&nbsp;
								input.input-small.input-inline(type="text", ng-model="newId", placeholder="IPDB# or URL")
								span &nbsp;
								button.btn
									i.icon.ok

		.clearfix

		//- empty search result
		div.noresult(style="display:none")
			p No results found.

		//- no data
		div.nodata(style="display:none")
			p No results found.

		.clearfix
	div