extends layout

block vars
	- var pageController = 'AdminUserCtrl'
	- var mainMenu = "admin"
	- var subMenu = "users"

block inner-content

	.inner(ng-controller='DataCtrl', resource="user.all")

		h2 Users

		//- control bar
		div.controls(style='display:none')

			//- pager
			pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

			//- number of rows
			numrows.numrows.input-mini.pull-right(selection='[10, 20, 50, 100]', value='limit')

			//- search box
			searchbox(value='search', wait='300')

			//- filter pills
			ul.nav.nav-pills.pull-left.filter(filters, value='filters')
				li
					.icon
						i.icon.filter(title="Filter high scores by")
				li(data-filter="neverlogged")
					a(href="#") Never logged
				li(data-filter="nocredits")
					a(href="#") No credits

			.clearfix

		//- data
		div.data.ng-cloak(style="display:none")
			table.table
				thead
					tr
						th Login
						th(style='width: 100px') Credits
				tbody
					tr(ng-repeat='user in data', data-id='{{ user.id }}', ng-animate="{ enter: 'animated fadeIn' }")
						td {{ user.user }}
						td.nowrap(data-value='{{ user.credits }}')
							i.icon.pencil.clickable
							| &nbsp;{{ user.credits }}
		.clearfix

		//- empty search result
		div.noresult(style='display:none')
			p No users found.
			button.btn.submit.small Clear Filters

		//- no data
		div.nodata(style='display:none')
			p No users in database.

	.clearfix
