.modal-alert.modal.hide.fade.update-progressing
	div.modal-header
		h2
			i.icon.pd-round.big
			span Updating pind...
	.clearfix
	div.modal-body.center
		i.icon.spinner2.updating.spin.slow
	div.modal-footer
		p Dialog will close when done.