.modal-form-errors.modal.hide.fade
	button.close(data-dismiss='modal') &times;
	div.modal-header
		h2 Whoops!
	div.modal-body
		p It looks like there was a problem.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.fat.btn-warning OK