grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
::-moz-selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
body {
  background-image: url("../images/bg_striped.png");
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-shadow: 1px 1px 0 #fff;
}
.boxglow {
  margin: 60px auto;
  width: 600px;
  height: 600px;
  background-image: url("../images/gradient.png");
  background-repeat: no-repeat;
}
.singlebox,
.modal {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.singlebox {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.singlebox input,
.singlebox button,
.singlebox a,
.singlebox .button,
.singlebox .register {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.hidden {
  display: none;
}
.subheading {
  font-size: 11px;
  line-height: 16px;
  color: #625648;
}
.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #9d9e9e;
  margin-bottom: 20px;
}
form {
  margin: 0;
}
input[type='text'],
input[type='password'] {
  padding: 10px 15px 8px;
  height: initial;
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  color: #9d9e9e;
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type='text']:hover,
input[type='password']:hover {
  background: #f1ede8;
  color: #473522;
}
input[type='text']:focus,
input[type='password']:focus {
  background: #f1ede8;
  color: #473522;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
input[type='text'][disabled],
input[type='password'][disabled] {
  background: url("../images/bg_redox_01.png");
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(81,67,54,0.15);
}
input[type='text'][disabled]:hover,
input[type='password'][disabled]:hover {
  background: url("../images/bg_redox_01.png");
  color: #9d9e9e;
}
button[type="submit"],
.btn.fat {
  padding: 11px 25px;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
button[type="submit"].right,
.btn.fat.right {
  float: right;
}
button[type="submit"]:hover,
.btn.fat:hover {
  background: #b87d3e;
  border: 1px solid rgba(255,255,255,0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  color: #fff;
}
button[type="submit"]:focus,
.btn.fat:focus {
  position: relative;
  bottom: -1px;
  background: #e09d55;
  -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
  box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
}
button[type="submit"][disabled="disabled"],
.btn.fat[disabled="disabled"] {
  cursor: default;
}
button[type="submit"][disabled="disabled"]:hover,
.btn.fat[disabled="disabled"]:hover {
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
button[type="submit"] span,
.btn.fat span {
  margin-left: 15px;
}
button[type="submit"].small,
.btn.fat.small {
  font-size: 15px;
  padding: 5px 10px;
}
button[type="submit"].small span,
.btn.fat.small span {
  margin-left: 7px;
}
.modal-header {
  padding: 30px 30px 0px 30px;
  background-repeat: no-repeat;
  background-position: right top;
  border: none;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
  font-family: 'Arvo', serif;
  color: #473522;
}
.modal-header h1font-weight 700 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-body {
  padding: 30px 30px 20px 30px;
  overflow: hidden;
}
.modal-body li {
  color: #625648;
}
.modal-body .alert {
  margin: 10px 0 0 0;
}
.modal-body input:focus + div {
  left: -46px;
}
.modal-footer,
.row-fluid.footer {
  overflow: auto;
  background: rgba(81,67,54,0.15);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
.modal-footer {
  padding: 30px;
}
.modal-footer .fatlink {
  padding: 12px 0px 8px;
}
.modal-subfooter {
  padding: 15px 30px;
  background: rgba(81,67,54,0.3);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-subfooter label,
.modal-subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
.modal-body,
.modal-subfooter,
.modal-footer,
.modal-header {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-body.lastfooter,
.modal-subfooter.lastfooter,
.modal-footer.lastfooter,
.modal-header.lastfooter {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.row-fluid.footer h2 {
  margin-left: 30px;
  padding-top: 15px;
}
.row-fluid.footer .span3 h3,
.row-fluid.footer .span4 h3 {
  line-height: 28px;
}
.row-fluid.footer .span3:first-child,
.row-fluid.footer .span4:first-child {
  padding-left: 30px;
}
.row-fluid.footer .span3:last-child,
.row-fluid.footer .span4:last-child {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .row-fluid.footer .span3,
  .row-fluid.footer .span4 {
    padding-left: 30px;
  }
}
.icon {
  font-family: 'pind-symbols';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.swords:before {
  content: "\61";
}
.icon.rope:before {
  content: "\62";
}
.icon.pen:before {
  content: "\63";
  font-size: 153px;
}
.icon.key:before {
  content: "\64";
  font-size: 74px;
}
.icon.user:before {
  content: "\21";
}
.icon.locked:before {
  content: "\22";
}
.icon.exit:before {
  content: "\24";
  margin-right: -3px;
}
.icon.settings:before {
  content: "\25";
}
.icon.refresh:before {
  content: "\26";
}
.icon.file:before {
  content: "\e003";
}
.icon.chip:before {
  content: "\e002";
}
.icon.video:before {
  content: "\f03d";
}
.icon.camera:before {
  content: "\f030";
}
.icon.logo:before {
  content: "\f024";
}
.icon.ipad:before {
  content: "\e001";
}
.icon.pind:before {
  content: "\23";
}
.icon.github:before {
  content: "\f09b";
}
.icon.github-alt:before {
  content: "\f113";
}
.icon.spin {
  display: inline-block;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.icon.inputhint {
  width: 46px;
  height: 35px;
  display: block;
  position: absolute;
  left: 0px;
  padding-top: 12px;
  padding-left: 15px;
  z-index: -1;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 21px;
  color: #fff;
  text-shadow: none;
  background: #3e3429;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.icon.inputhint.user {
  top: 235px;
}
.icon.inputhint.locked {
  top: 284px;
}
.modal-header .icon {
  padding-bottom: 30px;
  color: #473522;
}
button.close {
  margin: 15px;
}
.fatlink {
  display: block;
  margin-right: 20px;
  cursor: pointer;
  background: none;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 18px;
  color: #473522;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fatlink:hover {
  color: #b87d3e;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  background-position: inherit;
  border: none;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  -ms-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: inherit;
}
.fatlink:focus {
  position: relative;
  bottom: -1px;
}
.slimlink {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #625648;
  cursor: pointer;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slimlink:hover {
  color: #b87d3e;
  text-decoration: none;
}
.slimlink:focus {
  position: relative;
  bottom: -1px;
}
.singlebox.login,
.singlebox.register {
  width: 305px;
}
.singlebox.login form section.body input:focus + div {
  left: -46px;
}
.singlebox.login form section.subfooter label,
.singlebox.login form section.subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
h1,
h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
}
h3,
h4 {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
a {
  color: #473522;
}
a:hover {
  color: #000;
}
input[disabled] {
  cursor: default;
}
button,
select,
textarea {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.alert {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.alert-danger,
.alert-error {
  color: #9e441d;
  background-color: #e0cac0;
  border-color: #c99780;
}
.row-fluid > div {
  margin-bottom: 20px;
}
.page-header {
  border-bottom: 1px solid #ddd;
}
.content {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 0px;
}
.content > section {
  padding: 30px;
}
.nav.nav-list {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.nav.nav-list > li > a {
  padding: 5px 15px;
}
.nav.nav-list > li:first-child > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.nav.nav-list > li:last-child > a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav.nav-list > .active > a,
.nav.nav-list .active > a:hover {
  background: url("../images/bg_brown_noise.png");
}
.nav.nav-list.sidenav.affix {
  top: 22px;
}
.navbar {
  margin-bottom: 20px;
}
.navbar .navbar-inner {
  background: url("../images/bg_redox_01.png");
  border-bottom: 1px #3e3429;
  -webkit-box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-inner .icon.pind {
  font-size: 42px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 15px;
  text-shadow: 0px 1px 0 #fff;
  color: #473522;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .navbar-inner .icon.pind:hover {
  text-decoration: none;
  color: #000;
}
.navbar .navbar-inner .nav {
  font-family: 'Arvo', serif;
  font-size: 18px;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  overflow: hidden;
  font-weight: 300;
}
.navbar .navbar-inner .nav li {
  line-height: 22px;
}
.navbar .navbar-inner .nav li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
  color: #625648;
  cursor: pointer;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar .navbar-inner .nav li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
.navbar .navbar-inner .nav li a.icon {
  margin-top: 14px;
}
.navbar .navbar-inner .nav li.active a {
  font-weight: 700;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
.navbar .navbar-inner .nav li.active a:hover {
  background-color: #e09d55;
  cursor: default;
}
.navbar .navbar-inner .nav li i.icon-black {
  margin-top: 1px;
  padding: 5px 0 0 10px;
}
.nav.nav-pills li a {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(81,67,54,0.15);
  margin: 0px;
  border-right: 1px solid #fff;
  -webkit-box-shadow: inset 1px 0px 0 rgba(0,0,0,0.15);
  box-shadow: inset 1px 0px 0 rgba(0,0,0,0.15);
}
.nav.nav-pills li:first-child a {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nav.nav-pills li:last-child a {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul.badge-group {
  margin: 0;
}
ul.badge-group li {
  cursor: default;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 3px 5px;
}
ul.badge-group li:first-child {
  padding-left: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul.badge-group li:last-child {
  padding-right: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 480px) {
  ul.badge-group li {
    margin: 2px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 7px;
  }
}
.navbar .nav li a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
@media (max-width: 980px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
  .navbar .navbar-inner a.icon.pind {
    margin-top: 10px;
  }
  .navbar .navbar-inner .nav li a {
    margin-bottom: 10px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (max-width: 480px) {
}
.tables-placeholder {
  background-color: #fff;
  border: 2px dashed #000;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
.span3.disabled,
.span4.disabled {
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.content.tables .media {
  background-color: rgba(81,67,54,0.15);
  margin: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
}
.content.tables .pull-left {
  margin-right: 0;
}
.content.tables .media-body {
  padding-left: 15px;
}
.content.tables .pull-left > img {
  z-index: 10;
}
.content.tables img.bg {
  position: absolute;
  margin-left: 200px;
  margin-top: 80px;
  max-height: 250px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
