grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
::-moz-selection {
  color: #000;
  background: rgba(224,157,85,0.25);
  text-shadow: none;
}
::selection {
  color: #000;
  background: rgba(224,157,85,0.25);
  text-shadow: none;
}
body {
  background-image: url("../images/bg_striped.png");
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-shadow: 1px 1px 0 #fff;
}
.boxglow {
  margin: 60px auto;
  width: 600px;
  height: 600px;
  background-image: url("../images/gradient.png");
  background-repeat: no-repeat;
}
.singlebox,
.modal {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.singlebox {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.singlebox input,
.singlebox button,
.singlebox a,
.singlebox .button,
.singlebox .register {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  position: relative;
  top: -25px;
  margin-bottom: 10px;
}
footer i.icon {
  font-size: 30px;
  margin-right: 10px;
  line-height: 50px;
}
footer span {
  position: relative;
  bottom: 3px;
}
footer a {
  color: #dbd9d7;
  text-shadow: 0px 1px 0 #000;
  font-family: 'Arvo', serif;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer a:hover {
  text-decoration: none;
  color: #fff;
}
.subheading {
  font-size: 11px;
  line-height: 16px;
  color: #625648;
}
.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #9d9e9e;
  margin-bottom: 20px;
}
h1,
h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
}
h3 {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
font-
}
form {
  margin: 0;
}
input[type='text'],
input[type='password'] {
  padding: 10px 15px 8px;
  height: initial;
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  color: #9d9e9e;
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type='text']:hover,
input[type='password']:hover {
  background: #f1ede8;
  color: #473522;
}
input[type='text']:focus,
input[type='password']:focus {
  background: #f1ede8;
  color: #473522;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
input[type='text'][disabled],
input[type='password'][disabled] {
  background: url("../images/bg_redox_01.png");
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(81,67,54,0.15);
}
input[type='text'][disabled]:hover,
input[type='password'][disabled]:hover {
  background: url("../images/bg_redox_01.png");
  color: #9d9e9e;
}
.input-micro {
  width: 35px;
}
button[type="submit"],
.btn.fat {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  padding: 11px 25px;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
button[type="submit"].right,
.btn.fat.right {
  float: right;
}
button[type="submit"]:hover,
.btn.fat:hover {
  background: #b87d3e;
  border: 1px solid rgba(255,255,255,0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  color: #fff;
}
button[type="submit"]:focus,
.btn.fat:focus {
  position: relative;
  bottom: -1px;
  background: #e09d55;
  -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
  box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
}
button[type="submit"][disabled="disabled"],
.btn.fat[disabled="disabled"] {
  cursor: default;
}
button[type="submit"][disabled="disabled"]:hover,
.btn.fat[disabled="disabled"]:hover {
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
button[type="submit"] span,
.btn.fat span {
  margin-left: 15px;
}
button[type="submit"].small,
.btn.fat.small {
  font-size: 15px;
  padding: 5px 10px;
}
button[type="submit"].small span,
.btn.fat.small span {
  margin-left: 7px;
}
.input-prepend .add-on + input[type='text'] {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-prepend .add-on:first-child {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(0,0,0,0.07);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
  border: solid 1px rgba(0,0,0,0.15);
  margin-left: 20px;
}
.modal-header {
  padding: 30px 30px 0px 30px;
  background-repeat: no-repeat;
  background-position: right top;
  border: none;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h5 {
  font-family: 'Arvo', serif;
  color: #473522;
}
.modal-header h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-body {
  padding: 30px 30px 20px 30px;
  overflow-y: visible;
}
.modal-body li {
  color: #625648;
}
.modal-body .alert {
  margin: 10px 0 0 0;
}
.modal-footer,
.row-fluid.footer {
  overflow: auto;
  background: rgba(81,67,54,0.15);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
.modal-footer {
  padding: 30px;
}
.modal-footer .fatlink {
  padding: 12px 0px 8px;
}
.modal-subfooter {
  padding: 15px 30px;
  background: rgba(81,67,54,0.3);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-subfooter label,
.modal-subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
.modal-body,
.modal-subfooter,
.modal-footer,
.modal-header {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-body.lastfooter,
.modal-subfooter.lastfooter,
.modal-footer.lastfooter,
.modal-header.lastfooter {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.row-fluid.footer h2 {
  margin-left: 30px;
  padding-top: 15px;
}
.row-fluid.footer .span3 h3,
.row-fluid.footer .span4 h3 {
  line-height: 28px;
}
.row-fluid.footer .span3:first-child,
.row-fluid.footer .span4:first-child {
  padding-left: 30px;
}
.row-fluid.footer .span3:last-child,
.row-fluid.footer .span4:last-child {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .row-fluid.footer .span3,
  .row-fluid.footer .span4 {
    padding-left: 30px;
  }
}
.icon {
  font-family: 'pind-symbols';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.swords:before {
  content: "\61";
}
.icon.rope:before {
  content: "\62";
}
.icon.pen:before {
  content: "\63";
  font-size: 153px;
}
.icon.key:before {
  content: "\64";
  font-size: 74px;
}
.icon.user:before {
  content: "\21";
}
.icon.locked:before {
  content: "\22";
}
.icon.exit:before {
  content: "\24";
  margin-right: -3px;
}
.icon.settings:before {
  content: "\25";
}
.icon.refresh:before {
  content: "\f01e";
}
.icon.file:before {
  content: "\e003";
}
.icon.chip:before {
  content: "\e002";
}
.icon.video:before {
  content: "\f03d";
}
.icon.camera:before {
  content: "\f030";
}
.icon.logo:before {
  content: "\f024";
}
.icon.ipad:before {
  content: "\e001";
}
.icon.ok:before {
  content: "\f00c";
}
.icon.remove:before {
  content: "\f00d";
}
.icon.pencil:before {
  content: "\f040";
}
.icon.search:before {
  content: "\f002";
}
.icon.pind:before {
  content: "\23";
}
.icon.pd-round:before {
  content: "\e006";
}
.icon.github:before {
  content: "\f09b";
}
.icon.github-alt:before {
  content: "\f113";
}
.icon.arrow-right:before {
  content: "\e004";
}
.icon.arrow-left:before {
  content: "\e005";
}
.icon.spin {
  display: inline-block;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: none;
}
.icon.inputhint {
  width: 46px;
  height: 35px;
  display: block;
  left: 0px;
  padding-top: 12px;
  padding-left: 15px;
  z-index: -1;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 21px;
  color: #fff;
  text-shadow: none;
  background: #3e3429;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  margin-top: -53px;
  position: absolute;
}
.modal-header .icon {
  padding-bottom: 30px;
  color: #473522;
}
.modal button.close {
  margin: 15px;
}
input:focus + div.inputhint {
  margin-left: -50px;
}
.fatlink {
  display: block;
  margin-right: 20px;
  cursor: pointer;
  background: none;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 18px;
  color: #473522;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fatlink:hover {
  color: #b87d3e;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  background-position: inherit;
  border: none;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  -ms-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: inherit;
}
.fatlink:focus {
  position: relative;
  bottom: -1px;
}
.slimlink {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #625648;
  cursor: pointer;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slimlink:hover {
  color: #b87d3e;
  text-decoration: none;
}
.slimlink:focus {
  position: relative;
  bottom: -1px;
}
.singlebox.login,
.singlebox.register {
  width: 305px;
}
.singlebox.login form section.subfooter label,
.singlebox.login form section.subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
a {
  color: #473522;
}
a:hover {
  color: #000;
}
input[disabled] {
  cursor: default;
}
button,
select,
textarea {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.alert {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.alert-danger,
.alert-error {
  color: #9e441d;
  background-color: #e0cac0;
  border-color: #c99780;
}
.row-fluid > div {
  margin-bottom: 20px;
}
.page-header {
  border-bottom: 1px solid #ddd;
}
select.numrows {
  color: #000;
  margin: 20px 10px;
  height: 26px;
  font-size: 11.9px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #e3e3e3;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
}
.content {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 0px;
}
.content > section {
  padding: 30px;
}
.dark {
  background-color: rgba(0,0,0,0.05);
  border: solid 1px rgba(0,0,0,0.1);
  padding: 0px 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.nav.nav-list {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.nav.nav-list > li > a {
  padding: 5px 15px;
}
.nav.nav-list > li:first-child > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.nav.nav-list > li:last-child > a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav.nav-list > .active > a,
.nav.nav-list .active > a:hover {
  background: url("../images/bg_brown_noise.png");
}
.nav.nav-list.sidenav.affix {
  top: 22px;
}
.navbar {
  margin-bottom: 20px;
}
.navbar .navbar-inner {
  background: url("../images/bg_redox_01.png");
  border-bottom: 1px #3e3429;
  -webkit-box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-inner .icon.pind {
  font-size: 42px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 15px;
  text-shadow: 0px 1px 0 #fff;
  color: #473522;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .navbar-inner .icon.pind:hover {
  text-decoration: none;
  color: #000;
}
.navbar .navbar-inner .nav {
  font-family: 'Arvo', serif;
  font-size: 18px;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  overflow: hidden;
  font-weight: 300;
}
.navbar .navbar-inner .nav li {
  line-height: 22px;
}
.navbar .navbar-inner .nav li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
  color: #625648;
  cursor: pointer;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar .navbar-inner .nav li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
.navbar .navbar-inner .nav li a.icon {
  margin-top: 14px;
}
.navbar .navbar-inner .nav li.active a {
  font-weight: 700;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
.navbar .navbar-inner .nav li.active a:hover {
  background-color: #e09d55;
  cursor: default;
}
.navbar .navbar-inner .nav li i.icon-black {
  margin-top: 1px;
  padding: 5px 0 0 10px;
}
ul.nav.nav-pills li a,
.pagination.pagination-small ul li a {
  color: #000;
  background-color: rgba(0,0,0,0.07);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
  border: solid 1px rgba(0,0,0,0.15);
  border-left: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul.nav.nav-pills li a:hover,
.pagination.pagination-small ul li a:hover {
  background-color: rgba(0,0,0,0.15);
}
ul.nav.nav-pills li.current a,
.pagination.pagination-small ul li.current a,
ul.nav.nav-pills li.active a,
.pagination.pagination-small ul li.active a {
  background-color: #e09d55;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  font-weight: 700;
}
ul.nav.nav-pills li.current a,
.pagination.pagination-small ul li.current a {
  cursor: default;
}
ul.nav.nav-pills li.disabled a,
.pagination.pagination-small ul li.disabled a {
  color: #9d9e9e;
  cursor: default;
}
ul.nav.nav-pills li.disabled a:hover,
.pagination.pagination-small ul li.disabled a:hover {
  background-color: rgba(0,0,0,0.07);
}
ul.nav.nav-pills li.last a i,
.pagination.pagination-small ul li.last a i,
ul.nav.nav-pills li.first a i,
.pagination.pagination-small ul li.first a i {
  font-size: 25px;
  line-height: 10px;
  position: relative;
  top: 5px;
  margin-left: 0;
}
ul.nav.nav-pills li:first-child a,
.pagination.pagination-small ul li:first-child a {
  border-left: solid 1px rgba(0,0,0,0.15);
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
ul.nav.nav-pills li:last-child a,
.pagination.pagination-small ul li:last-child a {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul.nav.nav-pills {
  margin: 20px 0;
}
ul.nav.nav-pills li a {
  padding: 2px 10px;
  font-size: 11.9px;
  line-height: 22px;
  margin: 0;
}
.input-pill {
  margin-top: 19px;
}
.input-pill input {
  padding: 5px 10px 3px;
}
.input-pill.input-prepend .add-on {
  height: 18px;
  margin-top: 1px;
  padding: 2px 5px 6px 7px;
}
ul.nav.nav-tabs {
  border-color: #9d9e9e;
}
ul.nav.nav-tabs li a {
  font-family: 'Arvo', serif;
  font-size: 18px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
  border-bottom: none;
  color: #625648;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 15px;
  padding-bottom: 4px;
}
ul.nav.nav-tabs li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
ul.nav.nav-tabs li.active a {
  font-weight: 700;
  background: #e09d55;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
ul.badge-group {
  margin: 0;
}
ul.badge-group li {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
  cursor: default;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 3px 5px;
}
ul.badge-group li:first-child {
  padding-left: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul.badge-group li:last-child {
  padding-right: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 480px) {
  ul.badge-group li {
    margin: 2px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 7px;
  }
}
.alert {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
.alert.alert-success {
  background-color: rgba(127,191,43,0.2);
  border-color: rgba(127,191,43,0.7);
}
.nav li a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
@media (max-width: 980px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
  .navbar .navbar-inner a.icon.pind {
    margin-top: 10px;
  }
  .navbar .navbar-inner .nav li a {
    margin-bottom: 10px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (max-width: 480px) {
  .fuzzy3d + p {
    clear: left;
  }
}
.data + .empty,
.data .noresult {
  background-color: #fff;
  border: 2px dashed #000;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
.span3.disabled,
.span4.disabled {
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
table#tables td.rom {
  font-family: Inconsolata, Consolas, 'Courier New', Fixed, monospace;
}
table#tables td.rom.na,
table#tables td.rom.unknown {
  color: #9d9e9e;
}
table#tables td.rom.missing {
  color: #b94a48;
}
table#tables td b {
  background-color: rgba(224,157,85,0.3);
  font-weight: normal;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}
.table.vertical {
  padding: 10px 50px 0;
}
.table.vertical h3 {
  text-align: center;
  line-height: 25px;
}
.table.vertical img {
  margin: 20px 0;
}
.content.tables .media {
  background-color: rgba(81,67,54,0.15);
  margin: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
}
.content.tables .pull-left {
  margin-right: 0;
}
.content.tables .media-body {
  padding-left: 15px;
}
.content.tables .pull-left > img {
  z-index: 10;
}
.content.tables img.bg {
  position: absolute;
  margin-left: 200px;
  margin-top: 80px;
  max-height: 250px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
td input[type='text'] {
  padding: 0 10px;
  margin: 0;
}
td.nowrap {
  white-space: nowrap;
}
@media (max-width: 480px) {
  td.nowrap {
    white-space: normal;
  }
}
td .icon.clickable {
  cursor: pointer;
}
td .icon.clickable:hover {
  color: #000;
}
td .icon.clickable.remove {
  margin-right: 5px;
}
td .icon.clickable.ok {
  margin-left: 5px;
}
.item.vpf .thumb {
  width: 120px;
  height: 120px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.item.vpf .thumb.loaded {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.item.vpf .thumb + .thumb-placeholder:before {
  content: none;
}
.item.vpf .thumb-placeholder {
  width: 90px;
  height: 90px;
  margin-top: -120px;
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
  border-right: 4px solid #e09d55;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 90px;
  font-family: 'pind-symbols';
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.item.vpf .thumb-placeholder:before {
  content: "\e006";
  color: rgba(255,255,255,0.5);
  text-shadow: none;
}
.item.vpf .box {
  background-color: #fff;
}
.thumbnails img {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.thumbnails li .thumbnail {
  background-color: rgba(255,255,255,0.5);
  padding: 0;
}
.thumbnails li hr {
  border: 3px solid #e09d55;
  margin: 0;
}
.thumbnails li .thumbnail-content {
  padding: 15px;
}
.thumbnails li .thumbnail-content h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 24px;
}
.thumbnails.tables li {
  text-align: center;
  padding: 0;
  height: 355px;
}
.thumbnails.hiscores li .thumbnail {
  height: 310px;
}
.thumbnails.hiscores li ul.ranking {
  margin-top: 15px;
  margin-left: 10px;
}
.thumbnails.hiscores li ul.ranking li {
  list-style-type: none;
  margin-top: 3px;
}
.thumbnails.hiscores li ul.ranking li .player {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
.thumbnails.hiscores li ul.ranking li .score {
  font-size: 16px;
  float: right;
  margin-top: 2px;
}
.thumbnails.hiscores li ul.ranking li .rank {
  font-size: 12px;
  position: absolute;
  margin-top: 4px;
  margin-left: -13px;
  color: #9d9e9e;
}
.thumbnails.hiscores li ul.ranking li .title {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 18px;
  color: #9d9e9e;
}
.thumbnails.hiscores li ul.ranking li.anon {
  color: rgba(0,0,0,0.3);
}
.thumbnails.hiscores li ul.ranking.champ li {
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  ul.hiscores > li .thumbnail {
    height: auto;
  }
}
.row-fluid ul.thumbnails li.span12 + li {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) {
  margin-left: 0px;
  clear: left;
}
.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) {
  margin-left: 0px;
  clear: left;
}
.dmd,
#console {
  margin-top: -10px;
  margin-bottom: 25px;
  text-align: center;
  background: url("../images/bg_dark_wood.png");
  padding-top: 20px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.dmd span,
#console span {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6b4b3b), color-stop(0.75, #7d4e45), color-stop(1, #4a3429));
  background: -webkit-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -moz-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -o-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -ms-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  padding: 2px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff187;
  font-family: ozoneregular;
  font-size: 36px;
  text-shadow: 0 0 7px #ff2d2d;
  -webkit-box-shadow: 0px -3px 10px -2px #000;
  box-shadow: 0px -3px 10px -2px #000;
}
#console {
  padding: 0;
  margin: -1px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.3);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #000;
}
#console .inner {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255,255,255,0.07);
}
#console .inner span {
  text-align: left;
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: BPdotsBold;
  font-size: 20px;
  margin: 0 8px;
  display: block;
  cursor: default;
}
.fuzzy3d {
  z-index: 0;
  color: #b3aca5;
  font-family: 'Arvo', serif;
  line-height: 1.7;
  float: left;
  position: relative;
  margin-right: 30px;
}
.fuzzy3d:before {
  content: " ";
  display: block;
  width: 170px;
  padding: 0 2px;
  height: 45px;
  margin-top: 2px;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: 0 1px 2px rgba(255,255,255,0.2);
  box-shadow: 0 1px 2px rgba(255,255,255,0.2);
  z-index: -100;
  position: absolute;
  top: -2px;
  left: -2px;
}
.fuzzy3d button {
  font-family: 'Arvo', serif;
  display: block;
  cursor: pointer;
  float: left;
  height: 40px;
  width: 170px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.55);
  font-size: 16px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bf813f), color-stop(0.15, #d99b59), color-stop(1, #ab7337));
  background-image: -webkit-linear-gradient(top, #bf813f 0%, #d99b59 15%, #ab7337 100%);
  background-image: -moz-linear-gradient(top, #bf813f 0%, #d99b59 15%, #ab7337 100%);
  background-image: -o-linear-gradient(top, #bf813f 0%, #d99b59 15%, #ab7337 100%);
  background-image: -ms-linear-gradient(top, #bf813f 0%, #d99b59 15%, #ab7337 100%);
  background-image: linear-gradient(top, #bf813f 0%, #d99b59 15%, #ab7337 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.35), inset 0 0 10px rgba(255,255,255,0.35);
  box-shadow: 0 1px 0 rgba(255,255,255,0.35), inset 0 0 10px rgba(255,255,255,0.35);
  border: 0;
  position: relative;
  top: -2px;
  margin-bottom: 20px;
}
.fuzzy3d button:before {
  content: " ";
  display: block;
  background: #9c6224;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.9, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  z-index: -50;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 45px;
}
.fuzzy3d button:hover {
  top: -4px;
}
.fuzzy3d button:hover:before {
  height: 47px;
}
.fuzzy3d button:active {
  top: 0px;
}
.fuzzy3d button:active:before {
  height: 43px;
}
.fuzzy3d button[disabled] {
  color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aeaeae), color-stop(0.15, #c9c9c9), color-stop(1, #9e9e9e));
  background-image: -webkit-linear-gradient(top, #aeaeae 0%, #c9c9c9 15%, #9e9e9e 100%);
  background-image: -moz-linear-gradient(top, #aeaeae 0%, #c9c9c9 15%, #9e9e9e 100%);
  background-image: -o-linear-gradient(top, #aeaeae 0%, #c9c9c9 15%, #9e9e9e 100%);
  background-image: -ms-linear-gradient(top, #aeaeae 0%, #c9c9c9 15%, #9e9e9e 100%);
  background-image: linear-gradient(top, #aeaeae 0%, #c9c9c9 15%, #9e9e9e 100%);
}
.fuzzy3d button[disabled]:hover {
  cursor: default;
  top: -2px;
}
.fuzzy3d button[disabled]:hover:before {
  height: 45px;
}
.fuzzy3d button[disabled]:active {
  top: -2px;
}
.fuzzy3d button[disabled]:active:before {
  height: 45px;
}
.fuzzy3d button[disabled]:before {
  background: #888;
}
