@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'Arvo';
    src: url('../fonts/arvo-regular-webfont.eot');
    src: url('../fonts/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo-regular-webfont.woff') format('woff'),
         url('../fonts/arvo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('../fonts/arvo-bold-webfont.eot');
    src: url('../fonts/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo-bold-webfont.woff') format('woff'),
         url('../fonts/arvo-bold-webfont.ttf') format('truetype'),
         url('../fonts/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: 700;
    font-style: bold;
}


@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata-webfont.eot');
    src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata-webfont.woff') format('woff'),
         url('../fonts/inconsolata-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'ozoneregular';
	src:url('../fonts/ozone-webfont.eot');
	src:url('../fonts/ozone-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ozone-webfont.woff') format('woff'),
		url('../fonts/ozone-webfont.ttf') format('truetype'),
		url('../fonts/ozone-webfont.svg#ozoneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'BPdotsBold';
	src: url('../fonts/BPdotsBold-webfont.eot');
	src: url('../fonts/BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/BPdotsBold-webfont.woff') format('woff'),
	     url('../fonts/BPdotsBold-webfont.ttf') format('truetype'),
	     url('../fonts/BPdotsBold-webfont.svg#BPdotsBold') format('svg');
	font-weight: normal;
	font-style: normal;

}