grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
::-moz-selection {
  color: #000;
  background: rgba(224,157,85,0.25);
  text-shadow: none;
}
::selection {
  color: #000;
  background: rgba(224,157,85,0.25);
  text-shadow: none;
}
body {
  background-image: url("../images/bg_striped.png");
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-shadow: 1px 1px 0 #fff;
  color: rgba(0,0,0,0.65);
}
footer {
  text-align: center;
  position: relative;
  top: -5px;
  margin-bottom: 10px;
}
footer > a {
  color: #dbd9d7;
  text-shadow: 0px 1px 0 #000;
  font-family: 'Arvo', serif;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer > a:hover {
  text-decoration: none;
  color: #fff;
}
footer > a > i.icon {
  font-size: 30px;
  margin-right: 10px;
  line-height: 50px;
}
footer > a > span {
  position: relative;
  bottom: 3px;
}
form {
  margin: 0;
}
.pull-top {
  margin-top: -10px;
}
.row-fluid > div {
  margin-bottom: 20px;
}
.row-topleft {
  padding: 20px 0 0 20px;
}
.row-topright {
  padding: 20px 20px 0 0;
}
.content {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 0px;
}
.content > section .page-header,
.content > section .nav,
.content > section .inner {
  margin: 30px;
}
.content > section .page-header.middle,
.content > section .nav.middle,
.content > section .inner.middle {
  margin-bottom: 0;
}
.page-header {
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.row.footer h2 {
  margin-left: 30px;
  padding-top: 15px;
}
.row.footer .span3 h3,
.row.footer .span4 h3 {
  line-height: 28px;
}
.row.footer .span3:first-child,
.row.footer .span4:first-child {
  padding-left: 30px;
}
.row.footer .span3:last-child,
.row.footer .span4:last-child {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .row.footer .span3,
  .row.footer .span4 {
    padding-left: 30px;
  }
}
.graph {
  height: 200px;
}
.subheading {
  font-size: 11px;
  line-height: 16px;
  color: #625648;
}
.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #9d9e9e;
  margin-bottom: 20px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
}
h3 {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.boxglow {
  margin: 60px auto;
  width: 600px;
  height: 600px;
  background-image: url("../images/gradient.png");
  background-repeat: no-repeat;
}
.singlebox,
.modal {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.singlebox {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.singlebox input,
.singlebox button,
.singlebox a,
.singlebox .button,
.singlebox .register {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.username {
  text-transform: uppercase;
}
input:focus + div.inputhint {
  margin-left: -50px;
}
.modal-header {
  padding: 30px 30px 0px 30px;
  background-repeat: no-repeat;
  background-position: right top;
  border: none;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h5 {
  font-family: 'Arvo', serif;
  color: #473522;
}
.modal-header h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-body {
  padding: 30px 30px 20px 30px;
  overflow-y: visible;
}
.modal-body li {
  color: #625648;
}
.modal-body .alert {
  margin: 10px 0 0 0;
}
.modal-footer,
.row.footer {
  margin-left: 0;
  overflow: auto;
  background: rgba(81,67,54,0.15);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
.modal-footer .action button.more,
.row.footer .action button.more {
  margin-right: 10px;
}
.modal-footer {
  padding: 30px;
}
.modal-footer .link-big {
  padding: 12px 0px 8px;
}
.modal-footer a.cancel {
  width: 150px;
}
.modal-subfooter {
  padding: 15px 30px;
  background: rgba(81,67,54,0.3);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-subfooter label,
.modal-subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
.modal-body,
.modal-subfooter,
.modal-footer,
.modal-header {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-body.lastfooter,
.modal-subfooter.lastfooter,
.modal-footer.lastfooter,
.modal-header.lastfooter {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.modal button.close {
  margin: 15px;
}
.modal.update-found .modal-body {
  padding-top: 0;
}
.modal.update-progressing .modal-body .icon {
  margin-top: -30px;
  font-size: 120px;
  color: rgba(0,0,0,0.25);
}
.modal.download-table .modal-header img {
  width: 100px;
  height: 100px;
  margin-top: -10px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #000;
}
.modal.download-table .modal-header img + i.icon {
  margin-left: -76px;
  font-size: 55px;
  color: #f3f3f3;
  text-shadow: none;
  cursor: default;
}
.modal.download-table .modal-header h2 span {
  position: absolute;
  margin-left: 40px;
}
.modal.download-table .modal-body {
  padding-top: 0;
}
.modal.download-table .modal-body h3 {
  line-height: 22px;
}
.alert {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
.alert.alert-success {
  background-color: rgba(127,191,43,0.2);
  border-color: rgba(127,191,43,0.7);
}
.alert-danger,
.alert-error {
  color: #9e441d;
  background-color: #e0cac0;
  border-color: #c99780;
}
.singlebox.login,
.singlebox.register {
  width: 305px;
}
.singlebox.login form section.subfooter label,
.singlebox.login form section.subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
