grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
.nav.nav-list {
  background: url("../images/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.nav.nav-list > li > a {
  padding: 5px 15px;
}
.nav.nav-list > li:first-child > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.nav.nav-list > li:last-child > a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav.nav-list > .active > a,
.nav.nav-list .active > a:hover {
  background: url("../images/bg_brown_noise.png");
}
.nav.nav-list.sidenav.affix {
  top: 22px;
}
.nav li a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.navbar {
  margin-bottom: 20px;
}
.navbar .navbar-inner {
  background: url("../images/bg_redox_01.png");
  border-bottom: 1px #3e3429;
  -webkit-box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-inner .icon.pind {
  font-size: 42px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 15px;
  text-shadow: 0px 1px 0 #fff;
  color: #473522;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .navbar-inner .icon.pind:hover {
  text-decoration: none;
  color: #000;
}
.navbar .navbar-inner .nav {
  font-family: 'Arvo', serif;
  font-size: 18px;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  overflow: hidden;
  font-weight: 300;
}
.navbar .navbar-inner .nav li {
  line-height: 22px;
}
.navbar .navbar-inner .nav li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
  color: #625648;
  cursor: pointer;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar .navbar-inner .nav li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
.navbar .navbar-inner .nav li a.icon {
  margin-top: 14px;
}
.navbar .navbar-inner .nav li.active a {
  font-weight: 700;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
.navbar .navbar-inner .nav li.active a:hover {
  background-color: #e09d55;
  cursor: default;
}
.navbar .navbar-inner .nav li i.icon-black {
  margin-top: 1px;
  padding: 5px 0 0 10px;
}
@media (max-width: 767px) {
  .navbar .navbar-inner a.icon.pind {
    margin-top: 10px;
  }
  .navbar .navbar-inner .nav li a {
    margin-bottom: 10px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
ul.pills li {
  float: left;
  list-style: none;
  color: #000;
  background-color: rgba(0,0,0,0.07);
  font-size: 11.9px;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
  border: solid 1px rgba(0,0,0,0.15);
  border-left: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0px 8px;
}
ul.pills li:first-child {
  border-left: solid 1px rgba(0,0,0,0.15);
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
ul.pills li:last-child {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul.pills li i {
  margin-right: 5px;
}
ul.pills li.link:hover:not(.disabled) {
  background-color: rgba(0,0,0,0.15);
}
ul.pills li.link.disabled a {
  color: #9d9e9e;
}
ul.pills li div.icon,
ul.nav.nav-pills li div.icon {
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.15);
  border: solid 1px rgba(0,0,0,0.15);
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 22px;
  padding: 2px 9px;
}
ul.nav.nav-pills li a,
.pagination.pagination-small ul li a {
  color: #000;
  background-color: rgba(0,0,0,0.07);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.8);
  border: solid 1px rgba(0,0,0,0.15);
  border-left: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul.nav.nav-pills li a:hover,
.pagination.pagination-small ul li a:hover {
  background-color: rgba(0,0,0,0.15);
}
ul.nav.nav-pills li.current a,
.pagination.pagination-small ul li.current a,
ul.nav.nav-pills li.active a,
.pagination.pagination-small ul li.active a {
  background-color: #e09d55;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  font-weight: 700;
}
ul.nav.nav-pills li.current a,
.pagination.pagination-small ul li.current a {
  cursor: default;
}
ul.nav.nav-pills li.disabled a,
.pagination.pagination-small ul li.disabled a {
  color: #9d9e9e;
  cursor: default;
}
ul.nav.nav-pills li.disabled a:hover,
.pagination.pagination-small ul li.disabled a:hover {
  background-color: rgba(0,0,0,0.07);
}
ul.nav.nav-pills li.last a i,
.pagination.pagination-small ul li.last a i,
ul.nav.nav-pills li.first a i,
.pagination.pagination-small ul li.first a i {
  font-size: 25px;
  line-height: 10px;
  position: relative;
  top: 5px;
  margin-left: 0;
}
ul.nav.nav-pills li:first-child a,
.pagination.pagination-small ul li:first-child a {
  border-left: solid 1px rgba(0,0,0,0.15);
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
ul.nav.nav-pills li:last-child a,
.pagination.pagination-small ul li:last-child a {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul.nav.nav-pills li.spacer + li a,
.pagination.pagination-small ul li.spacer + li a {
  border-left: 5px solid rgba(0,0,0,0.15);
}
ul.nav.nav-pills {
  margin: 0px 20px 20px 0px;
}
ul.nav.nav-pills li a {
  padding: 2px 10px;
  font-size: 11.9px;
  line-height: 22px;
  margin: 0;
}
.pagination {
  margin: 0px 0px 20px 20px;
}
.top-pill {
  margin-top: 0px;
}
ul.nav.nav-tabs {
  border-color: #9d9e9e;
}
ul.nav.nav-tabs li a {
  font-family: 'Arvo', serif;
  font-size: 18px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08) inset;
  border: solid 1px rgba(0,0,0,0.15);
  border-bottom: none;
  color: #625648;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 15px;
  padding-bottom: 4px;
}
ul.nav.nav-tabs li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
ul.nav.nav-tabs li.active a {
  font-weight: 700;
  background: #e09d55;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
ul.badge-group {
  margin: 0;
}
ul.badge-group li {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
  cursor: default;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 3px 5px;
}
ul.badge-group li:first-child {
  padding-left: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul.badge-group li:last-child {
  padding-right: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 480px) {
  ul.badge-group li {
    margin: 2px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 7px;
  }
}
.nodata,
.noresult {
  background-color: #fff;
  border: 2px dashed #000;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
.nodata .progress,
.noresult .progress {
  margin-top: 20px;
  margin-bottom: 0;
}
.nodata p + .icon {
  font-size: 42px;
  color: rgba(0,0,0,0.7);
}
.span3.disabled,
.span4.disabled {
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.thumbnail {
  background-color: rgba(255,255,255,0.5);
  padding: 0;
}
.thumbnail > img {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.thumbnail-content {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.thumbnail-content.hiscores {
  height: 340px;
}
.thumbnail-content.game {
  height: 120px;
  display: table;
}
.thumbnail-content.leaderboard h3 {
  margin-left: 15px;
  margin-top: 15px;
}
.thumbnail-content > .thumbnail-content-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  width: 100%;
}
.thumbnail-content h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 24px;
}
.thumbnail-content .slider-top {
  padding: 30px 15px 0px;
  height: 250px;
  overflow: hidden;
  overflow-y: auto;
}
.thumbnail-content .slider-bottom {
  padding: 15px;
  height: 250px;
  overflow: hidden;
}
.thumbnail-content .slider {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: -286px;
}
.thumbnail-content .slider > img {
  cursor: pointer;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.thumbnail-content .slider > img.bottom {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.thumbnails.tables li {
  text-align: center;
  padding: 0;
  height: 355px;
}
.thumbnails.hiscores li .thumbnail {
  min-height: 330px;
}
.thumbnails.hiscores li ul.ranking {
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
}
.thumbnails.hiscores li ul.ranking li {
  list-style-type: none;
  margin-top: 3px;
}
.thumbnails.hiscores li ul.ranking li .player {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
.thumbnails.hiscores li ul.ranking li .score {
  font-size: 16px;
  float: right;
  margin-top: 2px;
}
.thumbnails.hiscores li ul.ranking li .rank {
  font-size: 12px;
  position: absolute;
  margin-top: 4px;
  margin-left: -13px;
  color: #9d9e9e;
}
.thumbnails.hiscores li ul.ranking li .title {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 18px;
  color: #9d9e9e;
}
.thumbnails.hiscores li ul.ranking li.anon {
  color: rgba(0,0,0,0.3);
}
.thumbnails.hiscores li ul.ranking.champ li {
  margin-bottom: 25px;
}
.item.vpf h3 {
  line-height: 24px;
  margin-bottom: 0;
}
.item.vpf h4 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0,0,0,0.25);
  text-transform: none;
  margin-top: 0px;
}
.item.vpf .thumbnail {
  min-height: 120px;
  position: relative;
}
.item.vpf .thumbnail .updated {
  font-size: 11.9px;
  margin-right: 15px;
  color: rgba(0,0,0,0.75);
}
.item.vpf .thumbnail ul.pills {
  position: absolute;
  bottom: 15px;
  margin-left: 135px;
}
.item.vpf .thumbnail ul.pills a:hover {
  text-decoration: none;
}
.item.vpf .thumbnail ul.pills li {
  cursor: default;
}
.item.vpf .thumbnail ul.pills li.status-completed {
  background-color: #c2d3bf;
}
.item.vpf .thumbnail ul.pills li.status-started {
  -webkit-animation: pulsegreen 0.5s infinite alternate;
  -moz-animation: pulsegreen 0.5s infinite alternate;
  -o-animation: pulsegreen 0.5s infinite alternate;
  -ms-animation: pulsegreen 0.5s infinite alternate;
  animation: pulsegreen 0.5s infinite alternate;
}
.item.vpf .thumbnail ul.pills li.status-failed {
  background-color: #ccb7b0;
}
.item.vpf .thumbnail ul.pills li.status-queued {
  background-color: #e0df79;
}
.item.vpf .thumbnail ul.pills .icon.link,
.item.vpf .thumbnail ul.pills .icon.download-alt {
  font-size: 130%;
}
.item.vpf .thumbnail ul.pills .icon.link {
  position: relative;
  margin-left: 2px;
  margin-right: 1px;
  top: 2px;
}
.item.vpf .thumbnail a:hover {
  text-decoration: none;
}
.item.vpf .thumbnail div.author {
  float: right;
  max-width: 70px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item.vpf a.colorbox:hover {
  text-decoration: none;
}
.item.vpf .thumb {
  width: 120px;
  height: 120px;
  margin-right: 15px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.item.vpf .thumb.loaded {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.item.vpf .thumb.loaded + .thumb-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
}
.item.vpf .thumb.loaded + .thumb-placeholder:before {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: none;
}
.item.vpf .thumb-placeholder {
  width: 90px;
  height: 90px;
  margin-top: -120px;
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
  border-right: 4px solid #e09d55;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 90px;
  font-family: 'pind-symbols';
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.item.vpf .thumb-placeholder:before {
  content: "\e006";
  color: rgba(255,255,255,0.5);
  text-shadow: none;
}
/* Large desktop */
@media (min-width: 1200px) {
  .item.vpf .thumbnail ul.pills div.author {
    max-width: 70px;
  }
}
/* Small desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .item.vpf .thumbnail h3 {
    max-width: 250px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .item.vpf .thumbnail h4 {
    max-width: 150px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .item.vpf .thumbnail ul.pills div.author {
    max-width: 45px;
  }
  .item.vpf .thumbnail ul.pills i.icon.circle-arrow-down,
  .item.vpf .thumbnail ul.pills i.icon.eye {
    margin: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .item.vpf .thumbnail {
    min-height: 95px;
  }
  .item.vpf .thumbnail ul.pills {
    margin-left: 110px;
  }
  .item.vpf .thumbnail ul.pills div.author {
    max-width: 40px;
  }
  .item.vpf .thumb {
    width: 95px;
    height: 95px;
  }
  .item.vpf .thumb-placeholder {
    width: 75px;
    height: 75px;
    margin-top: -95px;
    padding: 10px;
    font-size: 75px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .item.vpf .thumbnail {
    min-height: 75px;
  }
  .item.vpf .thumbnail h3 {
    font-size: 18px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .item.vpf .thumbnail ul.pills {
    margin-left: 90px;
    bottom: 10px;
  }
  .item.vpf .thumbnail ul.pills i.icon.circle-arrow-down,
  .item.vpf .thumbnail ul.pills i.icon.eye {
    margin: 0;
  }
  .item.vpf .thumb {
    width: 75px;
    height: 75px;
  }
  .item.vpf .thumb-placeholder {
    width: 55px;
    height: 55px;
    margin-top: -75px;
    padding: 10px;
    font-size: 55px;
  }
}
.dmd {
  background: url("../images/bg_dark_wood.png");
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  cursor: default;
}
.dmd > span,
.dmd > table,
.dmd > .inner > span {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6b4b3b), color-stop(0.75, #7d4e45), color-stop(1, #4a3429));
  background: -webkit-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -moz-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -o-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: -ms-linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  background: linear-gradient(bottom, #6b4b3b 0%, #7d4e45 75%, #4a3429 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff187;
  cursor: default;
  font-family: ozoneregular;
  font-size: 36px;
  text-shadow: 0 0 7px #ff2d2d;
  -webkit-box-shadow: 0px -3px 10px -2px #000;
  box-shadow: 0px -3px 10px -2px #000;
}
.dmd + .lbl {
  margin-top: -20px;
  margin-bottom: 20px;
}
.dmd.middle {
  text-align: center;
  margin: -10px 0 25px 0;
  padding: 20px 0 12px 0;
}
.dmd.middle > span {
  padding: 2px 20px;
}
.dmd.leaderboard {
  padding: 10px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dmd.leaderboard > table {
  font-size: 22px;
  font-family: 'Pind DMD';
  text-transform: uppercase;
  margin: 0;
}
.dmd.leaderboard > table td {
  border: none;
}
#console {
  padding: 0;
  margin: -1px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.3);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #000;
}
#console .inner {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255,255,255,0.07);
}
#console .inner span {
  text-align: left;
  padding: 2px 7px 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Pind DMD';
  font-size: 22px;
  margin: 0 8px;
  display: block;
  cursor: default;
}
