@font-face {
	font-family: 'pind-symbols';
	src:url('../fonts/pind-symbols.eot?12020');
	src:url('../fonts/pind-symbols.eot?12020') format('embedded-opentype'),
		url('../fonts/pind-symbols.woff?12020') format('woff'),
		url('../fonts/pind-symbols.ttf?12020') format('truetype'),
		url('../fonts/pind-symbols.svg?v#pind-symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}


@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); transform-origin: 50% 53%  }
	100% { -moz-transform: rotate(359deg); transform-origin: 50% 53% }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); transform-origin: 0% 0% }
	100% { -webkit-transform: rotate(359deg); transform-origin: 0% 0% }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg); transform-origin: 50% 53% }
	100% { -o-transform: rotate(359deg); transform-origin: 50% 53% }
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg); transform-origin: 50% 53% }
	100% { -ms-transform: rotate(359deg); transform-origin: 50% 53% }
}


@-moz-keyframes pulsegreen {
	0% { background-color: #e8e8e8 } 
	100% { background-color: #b5d3af }
}
@-webkit-keyframes pulsegreen {
	0% { background-color: #e8e8e8 } 
	100% { background-color: #b5d3af }
}
@-o-keyframes pulsegreen {
	0% { background-color: #e8e8e8 } 
	100% { background-color: #b5d3af }
}
@-ms-keyframes pulsegreen {
	0% { background-color: #e8e8e8 } 
	100% { background-color: #b5d3af }
}
@keyframes pulsegreen {
	0% { background-color: #e8e8e8 } 
	100% { background-color: #b5d3af }
}
