@font-face {
	font-family: 'pind-symbols';
	src:url('../fonts/pind-symbols.eot');
	src:url('../fonts/pind-symbols.eot') format('embedded-opentype'),
		url('../fonts/pind-symbols.woff') format('woff'),
		url('../fonts/pind-symbols.ttf') format('truetype'),
		url('../fonts/pind-symbols.svg#pind-symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ozoneregular';
	src:url('../fonts/ozone-webfont.eot');
	src:url('../fonts/ozone-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ozone-webfont.woff') format('woff'),
		url('../fonts/ozone-webfont.ttf') format('truetype'),
		url('../fonts/ozone-webfont.svg#ozoneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'BPdotsBold';
	src: url('../fonts/BPdotsBold-webfont.eot');
	src: url('../fonts/BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/BPdotsBold-webfont.woff') format('woff'),
	     url('../fonts/BPdotsBold-webfont.ttf') format('truetype'),
	     url('../fonts/BPdotsBold-webfont.svg#BPdotsBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}