extends layout

block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			a(href='#').brand Logo
			div.container-fluid
				ul#global-nav.nav
					li.active 
						a Control Panel
					li 
						a Second nav
				ul.nav.pull-right		
					li
						a#btn-logout
							i.icon-lock.icon-black
							| Sign Out

	include account
	include modals/alert
	include modals/confirm

block append scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')