!!! 5
head
	title Pinball Lotaris
	link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Arvo:400,700')
	link(rel='stylesheet', href='/css/style.css')
html
	body
		block content
		block scripts
			script(src='/vendor/jquery/jquery.min.js')
			script(src='/vendor/jquery/jquery.form.js')
			script(src='/vendor/bootstrap/js/bootstrap-modal.js')
			script(src='/vendor/bootstrap/js/bootstrap-transition.js')
			script(src='/js/global.js')
