extends layout

block content
	include account
	include modals/alert

block scripts
	script(src='/vendor/jquery/jquery.min.js')
	script(src='/vendor/jquery/jquery.form.js')
	script(src='/vendor/bootstrap/js/bootstrap-modal.js')
	script(src='/vendor/bootstrap/js/bootstrap-transition.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')