extends ../layouts/outer

block body
	- contentFor('javascripts', javascriptIncludeTag('login'))
	.boxglow
		!= formTagBegin({ action: path_to.login, id: 'login-form', class: 'singlebox login' })
			.modal-header
				.icon.key
				h1 Login here!
				p.subheading If you don't have an account, press the register button to sign up for a new account.
			.modal-body
				input(name="user", type="text", placeholder="Username").input-large
				.icon.inputhint.user
				input(name="pass", type="password", placeholder="Password").input-large
				.icon.inputhint.locked
			.modal-footer
				button(name="submit", type="submit") Login
				a(href="#{pathTo.signup}")#create-account.fatlink Register

			.modal-subfooter.lastfooter
				input(type="checkbox", checked="checked")#remember-me-checkbox
				label(for="remember-me-checkbox")#remember-me.checkbox.slimlink Remember Me
				a(href="#")#forgot-password.slimlink Forgot password?
		!= formTagEnd()

block modals
	include modals/alert
	include modals/lost-password
