extends ../layouts/users_layout



block content
	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	.boxglow
		#account-form-container.singlebox.register
			!= formTagBegin({ action: path_to.signup, id: 'account-form' })
				.modal-header
					.icon.pen
					h1 Signup
					p#sub1.subheading Get playing. With balls.
				fieldset
					.modal-body
						if user.user != null
							#name-cg.control-group
								.controls
									input#name-tf(type='text', name='name', placeholder='Real Name', value=user.name).input-large
							#email-cg.control-group
								.controls
									input#email-tf(type='text', name='email', placeholder='Email Address', value=user.email).input-large
							p#sub2.subheading
						#user-cg.control-group
							.controls
								input#user-tf(type='text', name='user', placeholder='Username', value=user.user).input-large.disabled
								span.help-block Your three-letter acronym. Case doesn't matter.
						#pass-cg.control-group
							.controls
								input#pass-tf(type='password', name='pass', , placeholder='Password', value='').input-large
								span.help-block At least six chars.
					.modal-footer.lastfooter
						button(type='submit')#account-form-btn2.btn Go!
						a(href='/')#account-form-btn1.btn.fatlink Cancel
			!= formTagEnd()

block modals
	include modals/form-errors
	include modals/alert
