::-moz-selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
body {
  background-image: url("../img/bg_striped.png");
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-shadow: 1px 1px 0 #fff;
}
.boxglow {
  margin: 60px auto;
  width: 600px;
  height: 600px;
  background-image: url("../img/gradient.png");
  background-repeat: no-repeat;
}
.singlebox,
.modal {
  background: url("../img/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.singlebox {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.singlebox input,
.singlebox button,
.singlebox a,
.singlebox .button,
.singlebox .register {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.subheading {
  font-size: 11px;
  line-height: 16px;
  color: #625648;
}
.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #9d9e9e;
  margin-bottom: 20px;
}
form {
  margin: 0;
}
input[type='text'],
input[type='password'] {
  padding: 10px 15px 8px;
  height: initial;
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  color: #9d9e9e;
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type='text']:hover,
input[type='password']:hover {
  background: #f1ede8;
  color: #473522;
}
input[type='text']:focus,
input[type='password']:focus {
  background: #f1ede8;
  color: #473522;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
input[type='text'][disabled],
input[type='password'][disabled] {
  background: url("../img/bg_redox_01.png");
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(81,67,54,0.15);
}
input[type='text'][disabled]:hover,
input[type='password'][disabled]:hover {
  background: url("../img/bg_redox_01.png");
  color: #9d9e9e;
}
button[type="submit"],
.btn.fat {
  float: right;
  padding: 11px 25px;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
button[type="submit"]:hover,
.btn.fat:hover {
  background: #b87d3e;
  border: 1px solid rgba(255,255,255,0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  color: #fff;
}
button[type="submit"]:focus,
.btn.fat:focus {
  position: relative;
  bottom: -1px;
  background: #e09d55;
  -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
  box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
}
.modal-header {
  padding: 30px 30px 0px 30px;
  background-repeat: no-repeat;
  background-position: right top;
  border: none;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
  font-family: 'Arvo', serif;
  color: #473522;
}
.modal-header h1font-weight 700 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-body {
  padding: 30px 30px 20px 30px;
}
.modal-body li {
  color: #625648;
}
.modal-body .alert {
  margin: 10px 0 0 0;
}
.modal-body input:focus + div {
  left: -46px;
}
.modal-footer {
  padding: 30px;
  overflow: auto;
  background: rgba(81,67,54,0.15);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-footer .fatlink {
  padding: 12px 0px 8px;
}
.modal-subfooter {
  padding: 15px 30px;
  background: rgba(81,67,54,0.3);
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-subfooter label,
.modal-subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
.modal-body,
.modal-subfooter,
.modal-footer,
.modal-header {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-body.lastfooter,
.modal-subfooter.lastfooter,
.modal-footer.lastfooter,
.modal-header.lastfooter {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.icon {
  font-family: 'pind-symbols';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.swords:before {
  content: "\61";
}
.icon.rope:before {
  content: "\62";
}
.icon.pen:before {
  content: "\63";
  font-size: 153px;
}
.icon.key:before {
  content: "\64";
  font-size: 74px;
}
.icon.user:before {
  content: "\21";
}
.icon.locked:before {
  content: "\22";
}
.icon.pind:before {
  content: "\23";
}
.icon.inputhint {
  width: 46px;
  height: 35px;
  display: block;
  position: absolute;
  left: 0px;
  padding-top: 12px;
  padding-left: 15px;
  z-index: -1;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 21px;
  color: #fff;
  text-shadow: none;
  background: #3e3429;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.icon.inputhint.user {
  top: 235px;
}
.icon.inputhint.locked {
  top: 284px;
}
.modal-header .icon {
  padding-bottom: 30px;
  color: #473522;
}
button.close {
  margin: 15px;
}
.fatlink {
  display: block;
  margin-right: 20px;
  cursor: pointer;
  background: none;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 18px;
  color: #473522;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fatlink:hover {
  color: #b87d3e;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  background-position: inherit;
  border: none;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  -ms-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: inherit;
}
.fatlink:focus {
  position: relative;
  bottom: -1px;
}
.slimlink {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #625648;
  cursor: pointer;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slimlink:hover {
  color: #b87d3e;
  text-decoration: none;
}
.slimlink:focus {
  position: relative;
  bottom: -1px;
}
.singlebox.login,
.singlebox.register {
  width: 305px;
}
.singlebox.login form section.body input:focus + div {
  left: -46px;
}
.singlebox.login form section.subfooter label,
.singlebox.login form section.subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
h1,
h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
}
h3,
h4 {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
a {
  color: #473522;
}
a:hover {
  color: #000;
}
input[disabled] {
  cursor: default;
}
button,
select,
textarea {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.alert {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.alert-danger,
.alert-error {
  color: #9e441d;
  background-color: #e0cac0;
  border-color: #c99780;
}
.content {
  background: url("../img/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 10px;
}
.nav.nav-list {
  background: url("../img/bg_redox_01.png");
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.nav.nav-list > li > a {
  padding: 5px 15px;
}
.nav.nav-list > li:first-child > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.nav.nav-list > li:last-child > a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav.nav-list > .active > a,
.nav.nav-list .active > a:hover {
  background-color: #625648;
}
.nav.nav-list.sidenav.affix {
  top: 63px;
}
.navbar .navbar-inner {
  background: url("../img/bg_redox_01.png");
  border-bottom: 1px #3e3429;
  -webkit-box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  box-shadow: 0px 5px 5px #3e3429, inset 0px -5px 10px -5px #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-inner .icon.pind {
  font-size: 42px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 15px;
  text-shadow: 0px 1px 0 #fff;
  color: #473522;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .navbar-inner .icon.pind:hover {
  text-decoration: none;
  color: #000;
}
.navbar .navbar-inner .nav {
  font-family: 'Arvo', serif;
  font-size: 18px;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  overflow: hidden;
  font-weight: 300;
}
.navbar .navbar-inner .nav li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  background-color: rgba(0,0,0,0.15);
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  color: #625648;
  cursor: pointer;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar .navbar-inner .nav li a:hover {
  color: #3e3429;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.3);
}
.navbar .navbar-inner .nav li.active a {
  font-weight: 700;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  color: #fff;
}
.navbar .navbar-inner .nav li.active a:hover {
  background-color: #e09d55;
  cursor: default;
}
.navbar .navbar-inner .nav li i.icon-black {
  margin-top: 1px;
  padding: 5px 0 0 10px;
}
.navbar .nav li a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
