::-moz-selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0a4889;
  text-shadow: none;
}
body {
  background-image: url("../img/bg.png");
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.boxglow {
  margin: 60px auto;
  width: 600px;
  height: 600px;
  background-image: url("../img/gradient.png");
  background-repeat: no-repeat;
}
.singlebox,
.modal {
  background: #f0f0f0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.singlebox {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.singlebox input,
.singlebox button,
.singlebox a,
.singlebox .user-icon,
.singlebox .pass-icon,
.singlebox .button,
.singlebox .register {
  -webkit-transition: all 0.4s ease !important;
  -moz-transition: all 0.4s ease !important;
  -o-transition: all 0.4s ease !important;
  -ms-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}
.subheading {
  font-size: 11px;
  line-height: 16px;
  color: #625648;
  text-shadow: 1px 1px 0 #fff;
}
.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: 20px;
}
form {
  margin: 0;
}
form input[type='text'],
form input[type='password'] {
  padding: 10px 15px 8px;
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  color: #9d9e9e;
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
form input[type='text']:hover,
form input[type='password']:hover {
  background: #f7e8d8;
  color: #473522;
}
form input[type='text']:focus,
form input[type='password']:focus {
  background: #f7e8d8;
  color: #473522;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
form button[type="submit"] {
  float: right;
  padding: 11px 25px;
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  background: #e09d55;
  border: 1px solid #d48f46;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
  box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
}
form button[type="submit"]:hover {
  background: #b87d3e;
  border: 1px solid rgba(255,255,255,0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
form button[type="submit"]:focus {
  position: relative;
  bottom: -1px;
  background: #e09d55;
  -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
  box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
}
.modal-header {
  padding: 90px 30px 0px 30px;
  background: url("../img/swords.svg") no-repeat 30px 30px;
}
.modal-header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #473522;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: 10px;
}
.modal-body {
  padding: 30px 30px 20px 30px;
}
.modal-body input:focus + div {
  left: -46px;
}
.modal-footer {
  padding: 30px;
  overflow: auto;
  background: #ded8d3;
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-footer .fatlink {
  padding: 12px 0px 8px;
}
.modal-subfooter {
  padding: 15px 30px;
  background: #c9c4bf;
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.modal-subfooter label,
.modal-subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
.lastfooter {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.user-icon,
.pass-icon {
  width: 46px;
  height: 47px;
  display: block;
  position: absolute;
  left: 0px;
  padding-right: 2px;
  z-index: -1;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.user-icon {
  top: 195px;
  background: #3e3429 url("../img/user-icon.png") no-repeat center;
}
.pass-icon {
  top: 242px;
  background: #3e3429 url("../img/pass-icon.png") no-repeat center;
}
button.close {
  margin: 15px;
}
.fatlink {
  display: block;
  margin-right: 20px;
  cursor: pointer;
  background: none;
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #473522;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fatlink:hover {
  color: #b87d3e;
  text-decoration: none;
  background-color: inherit;
  background-position: inherit;
  border: none;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  -ms-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fatlink:focus {
  position: relative;
  bottom: -1px;
}
.slimlink {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #625648;
  cursor: pointer;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slimlink:hover {
  color: #b87d3e;
  text-decoration: none;
}
.slimlink:focus {
  position: relative;
  bottom: -1px;
}
.singlebox.login,
.singlebox.register {
  width: 305px;
}
.singlebox.login form section.body input:focus + div {
  left: -46px;
}
.singlebox.login form section.subfooter label,
.singlebox.login form section.subfooter input[type='checkbox'] {
  float: right;
  margin-left: 10px;
}
