extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data', 'hiscores'))
	div.span10.offset1.content(ng-app)
		section(ng-controller='HiscoresCtrl')
			.page-header
				h1 High Scores

			ul.thumbnails.hiscores
				li.span4(ng-repeat='table in tables')
					.thumbnail
						img(src='{{table.url_banner_small}}')
						.thumbnail-content
							h3 {{table.name}}
							ul.ranking.champ
								li(ng-repeat="hiscore in getHiscores(table, 'champ')")
									span.title Grand Champion
									span.player {{hiscore.player}}
									span.score {{hiscore.score}}
							ul.ranking.hiscore
								li(ng-repeat="hiscore in getHiscores(table, 'hiscore')")
									span.rank {{hiscore.rank}}
									span.player {{hiscore.player}}
									span.score {{hiscore.score}}
		.clear-fix


block inlineScripts
	script
		$(document).ready(function() {
			menu('hiscores');
		});
