extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data'))
	div.span10.offset1.content
		section.home
			.page-header
				h1 Welcome!

			p This is going to be the home page with overviews of all the stuff happening.

			table.table
				thead
					tr
						th Name
						th Points
				tbody
					for hiscore in hiscores
						tr
							td= hiscore.user
							td= hiscore.totalPoints

block inlineScripts
	script
		$(document).ready(function() {
			menu('home');
		});