extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data'))
	div.span10.offset1.content
		section.home
			.page-header
				h1 Welcome!

			p This is going to be the home page with overviews of all the stuff happening.

block inlineScripts
	script
		$(document).ready(function() {
			menu('home');
		});