extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data', 'home'))
	div.span12.content(ng-app)
		section.home(ng-controller='HomeCtrl')
			.page-header
				h1 Welcome!

			p This is going to be the home page with overviews of all the stuff happening.

			div.row-fluid
				div.span4.dark
					h3 Globally Best Players
					table.table
						thead
							tr
								th Name
								th(style='width:30px') Points
						tbody
							for hiscore in hiscores
								tr
									td= hiscore.user
									td.text-right= hiscore.totalPoints

				div.span4.dark
					h3 Quick Coin Drop
					.fuzzy3d
						button Drop -.20
					.clearfix
					h3 Latest News

				div.span4.dark.table.vertical
					h3 Free Table of the Week
					img.backbox(src='{{table.url_backglass_medium}}')
					h3 {{table.name}}
					img.table(src='{{table.url_portrait_medium}}')
			div.row-fluid
				div.span6.dark
					h3 Next Table Poll
					p Vote for the next new table.

				div.span6.dark
					h3 Favorite Tables


block inlineScripts
	script
		$(document).ready(function() {
			menu('home');
		});