extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data', 'home', 'hiscores'))
	- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.waitforimages-1.4.2.min'))
	- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.colorbox-min'))
	div.span12.content(ng-app)
		section.home(ng-controller='HomeCtrl')
			.page-header
				h1 Welcome!

			h2 Latest Releases
			div.row-fluid

				.span9

					//- LATEST RELEASES
					//---------------------------------------------------------
					ul.thumbnails
						li.span6.vpf.item(ng-repeat="row in latestReleases", ng-controller="SourceItemCtrl", data-id="{{row.id}}", data-transferid="{{row.transferId}}")
							.thumbnail
								thumb.ng-transclude(fileid="{{row.fileId}}")
								h3 {{row.title_trimmed}}
								p.pull-right.updated.hidden-phone-small {{row.lastUpdatedSince}}
								h4.hidden-phone-small {{row.info}}
								ul.pills.small
									li
										i.icon.user
										.author.hidden-phone-small {{row.author}}
									li
										i.icon.circle-arrow-down(title="{{row.downloads|groupdigit}}")
										span.hidden-desktop-small.hidden-phone-small {{row.downloads|groupdigit}}
									li
										i.icon.eye(title="{{row.views|groupdigit}}")
										span.hidden-desktop-small.hidden-phone-small {{row.views|groupdigit}}
									li.link
										a(href="http://www.vpforums.org/index.php?app=downloads&showfile={{row.fileId}}", target="_blank")
											i.icon.link
								.clearfix


					//- LATEST GAMES
					//---------------------------------------------------------
					h2 Latest Games

					ul.thumbnails.tables
						li.span4(ng-repeat='table in latestGames', tb-768-980='span6')
							.thumbnail
								img(src='{{table.url_backglass_medium}}')
								hr
								.thumbnail-content

									h3 {{table.name}}
									p {{table.manufacturer}} - {{table.year}}


					//- LATEST HISCORES
					//---------------------------------------------------------
					h2 Latest Hiscores
					ul.thumbnails.hiscores(ng-controller='HiscoresCtrl')
						li.span4(ng-repeat='table in tables', tb-768-980='span6')
							.thumbnail
								img(ng-src='{{table.url_banner_small}}')
								hr
								.thumbnail-content
									h3 {{table.name}}
									ul.ranking.champ
										li(ng-repeat="hiscore in getHiscores(table, 'champ')", class="{{hiscore.class}}")
											span.title Grand Champion
											span.player {{hiscore.player}}
											span.score {{hiscore.score}}
									ul.ranking.hiscore
										li(ng-repeat="hiscore in getHiscores(table, 'hiscore')", class="{{hiscore.class}}")
											span.rank {{hiscore.rank}}
											span.player {{hiscore.player}}
											span.score {{hiscore.score}}

				.span3

					//- LEADER BOARD
					//---------------------------------------------------------
					.thumbnail
						img(src='/images/header-crowd.png')
						hr
						.thumbnail-content
							h3 Leaderboard
							table.table
								thead
									tr
										th Name
										th(style='width:30px') Points
								tbody
									for hiscore in hiscores
										tr
											td= hiscore.user
											td.text-right= hiscore.totalPoints
					p

					//- QUICK COIN DROP
					//---------------------------------------------------------
					.thumbnail
						img(src='/images/header-coins.png')
						hr
						.thumbnail-content
							h3 Quick Coin Drop
							.fuzzy3d
								button Drop -.20
							.clearfix
					p

					//- FREE TABLE OF THE WEEK
					//---------------------------------------------------------
					.thumbnail
						img(ng-src='{{table.url_backglass_medium}}')
						hr
						.thumbnail-content
							h3 {{table.name}}
							p Free Table of the Week
						img.table(ng-src='{{table.url_portrait_medium}}')

block inlineScripts
	script
		$(document).ready(function() {
			menu('home');
		});