extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data'))
	div.span10.offset1.content
		section.admin
			.page-header
				h1 Welcome!


block inlineScripts
	script
		$(document).ready(function() {
			menu('home');
		});