extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('table'))
	div.span10.offset1.content(ng-app)

		div.ng-cloak(ng-controller="TableCtrl", data-id="#{id}")
			h1 {{table.name}}

		.clear-fix


block inlineScripts
	script
		$(document).ready(function() {
			menu('tables');
		});
