extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('table'))

	.container.content.span10.offset1
		div(ng-controller="TableCtrl", data-id="#{id}")
			.row
				.span3
					.row-topleft
						img.thumbnail(ng-src="{{table.url_backglass_medium}}")
						small Backglass

						img.thumbnail(ng-src="{{table.url_portrait_medium}}")
						small Playfield

				.span4
					.page-header
						h1 {{table.name}}
						h3.pull-top {{table.manufacturer}}, {{table.year}}

					h5 Statistics
					.row
						.stats.span2
							big 3'231
							small Games played
						.stats.span2
							big 2'322
							small Games started

					.row
						.stats.span2
							big 9'554
							small Balls played
						.stats.span2
							big 12
							small Extra balls
					.stats
						big 1D 2H 30s
						small Play time
					.stats
						big 54W 3D 1H 39s
						small Running time
					p &nbsp;

					h5 High Scores
					p Some scores here

					h5 Game Information
					p Some game data here.
				.span3
					.row-topright
						i.icon.ipdb.big

						.row
							.stats.span1
								big.bigger 13
								small.top Rank

							.stats.span1
								big.bigger 8.1
								small.top Rating

	.clearfix


block inlineScripts
	script
		$(document).ready(function() {
			menu('tables');
		});
