extends ../layouts/inner

block content
	div.span10.offset1
		div.content.tables
			.page-header
				h1 Available Tables
				p
					each table in tables
						.media
							img(src=table.logo).bg
							a(href='#').pull-left
								img(src=table.portrait_small, alt=table.name).media-object
							.media-body
								h3= table.name
								p some more text
			.clearfix