extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('table'))

	.container.content.span10.offset1
		div(ng-controller="TableCtrl", data-id="#{id}")
			.row.ng-cloak
				.span3
					.row-topleft
						img.detached(ng-src="{{table.url_backglass_medium}}")
						small Backglass

						img.detached(ng-src="{{table.url_portrait_medium}}")
						small Playfield

				.span4
					.page-header
						h1 {{table.name}}
						h3.pull-top {{table.manufacturer}}, {{table.year}}

					h5 Stats
					table.stats(cellspacing="0", cellpadding="0", border="0")
						colgroup
							col(width="50%")
							col(width="50%")
						tbody
							tr.small
								td Games played
								td Games started
							tr.big
								td {{ table.audits.gamesPlayed | groupdigit }}
								td {{ table.audits.gamesStarted | groupdigit }}
							tr.small
								td Balls played
								td Extra balls
							tr.big
								td {{ table.audits.ballsPlayed | groupdigit }}
								td {{ table.audits.extraBalls | groupdigit }}
							tr.small
								td(colspan="2") Play time
							tr.big
								td(colspan="2") {{ table.audits.playTime | duration }}
							tr.small
								td(colspan="2") Running time
							tr.big
								td(colspan="2") {{ table.audits.runningTime | duration }}
					p &nbsp;

					h6 Score Histogram
					.graph.graph-score-histogram

					h6 Play Time Histogram
					.graph.graph-playtime-histogram

					h5 High Scores

					.thumbnails.hiscores
						ul.ranking.champ
							li(ng-repeat="hiscore in getHiscores('hiscore')", class="{{hiscore.class}}")
								span.rank {{hiscore.rank}}
								span.player {{hiscore.player}}
								span.score {{hiscore.score}}

					h5 Game Information
					p Some game data here.
				.span3
					.row-topright
						i.icon.ipdb.big

						table.stats(cellspacing="0", cellpadding="0", border="0")
							colgroup
								col(width="50%")
								col(width="50%")
							tbody
								tr.small
									td Rank
									td Rating
								tr.bigger
									td {{ table.ipdb_rank }}
									td {{ table.rating }}

						p &nbsp;
						img(ng-src="{{table.url_logo}}")
						p &nbsp;
						img.detached(ng-src="{{table.url_flyer_front_medium}}")
						p &nbsp;
						img.detached(ng-src="{{table.url_flyer_back_medium}}")

	.clearfix


block inlineScripts
	script
		$(document).ready(function() {
			menu('tables');
		});
