.modal-confirm.modal.hide.fade
	button.close(data-dismiss='modal') &times;
	div.modal-header		
		h2
	div.modal-body
		p
	div.modal-footer
		button.submit.btn.fat Ok
		button(data-dismiss="modal").cancel.btn.fatlink Cancel
