#set-password.modal-single-input.modal.hide.fade
	div.modal-header
		h3 Reset Password
	div.modal-body
		form#set-password-form.well.span5(method="post")
			p Please enter your new password
			input.input.span5.required(type="password", name="pass", id='pass-tf')
			button#submit.btn.btn-primary Submit(type="submit")
			div.alert.alert-error.hide
			button.close(data-dismiss="alert")
	div.modal-footer