extends layout

block inner-content
	- contentFor('javascripts', javascriptIncludeTag('admin_global'))

	div(ng-controller='GlobalCtrl')

		.inner.middle
			h2 Check for Updates

		.center.ng-cloak
			h3 Now Running
			div.dmd
				span {{version}}
			p.lbl From {{date}}, see&nbsp;
				a.sha(href="{{url}}", target="_blank") {{sha}}.

			button.btn.fat.small(ng-click='checkVersionUpdate()', ng-disabled='checking')
				i.icon.refresh(ng-class='checkBtnClass')
				span Check for Update

		.inner

		//- MODAL: update found
		.modal-alert.modal.hide.fade.update-found
			button.close(data-dismiss="modal") &times;
			div.modal-header
				h2
					i.icon.pd-round.big
					span Update found!
			.clearfix
			div.modal-body
				dl.dl-horizontal
					dt Version
					dd {{updateVersion}}
					dt Committed
					dd {{updateSince}}
					dt By
					dd {{updateAuthor}}
					dt Details
					dd
						i.icon.github-alt
						span &nbsp;
						a(href="{{updateLink}}", target='_blank') {{sha}}

			div.modal-footer
				button.download.btn.btn-warning.fat.right(data-dismiss="modal", ng-click="updatePind()") Update
				a.cancel.btn.fatlink(href='#') Cancel

		//- MODAL: no update
		.modal-alert.modal.hide.fade.no-update
			button.close(data-dismiss="modal") &times;
			div.modal-header
				h2
					i.icon.pd-round.big
					span No update found.
			.clearfix
			div.modal-body
				p.center Check back later.

			div.modal-footer
				button.download.btn.btn-warning.fat.right(data-dismiss="modal") Okay

block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('global');
		});