extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('admin'))
	div.span10.offset1.admin.content
		.page-header
			h1 Administration

		h2 Tables
		table.table#tables
			thead
				tr
					th Filename
					th4
			tbody
		div.tables-placeholder
			p No tables in database.
			button.btn.fat
				i.icon.refresh
				span Load from HyperPin

		.clearfix


block inlineScripts
	script
		$(document).ready(function() {
			menu('btn-settings');
		});