extends ../layouts/inner

block content
	div.span10.offset1
		div.content.tables
			.page-header
				h1 Settings
				p table here.
			.clearfix

block inlineScripts
	script
		$(document).ready(function() {
			menu('btn-settings');
		});