extends layout

block inner-content
	- contentFor('javascripts', javascriptIncludeTag('admin_tables'))
	div.data.tables(style='display:none')

		.pagination.pagination-small.pull-right
			ul(data-page="1")
				li.first.disabled
					a
						i.icon.arrow-left
				li.p1.current
					a 1
				li.last
					a
						i.icon.arrow-right

		select.numrows.input-mini.pull-right
			option(selected="selected") 10
			option 20
			option 50
			option 100

		ul.nav.nav-pills.pull-left.filter
			li(data-filter="table")
				a(href="#") Table
			li(data-filter="rom")
				a(href="#") ROM
			li(data-filter="ipdb")
				a(href="#") IPDB
			li(data-filter="media")
				a(href="#") Media

		.clearfix
		.wrapper(style='display:none')
			table.table#tables(data-ignoretablevids="#{ignoreTableVids}")
				thead
					tr
						th Name
						th File
						th Media
						th ROM
				tbody

		div.noresult(style='display:none')
			p No results found.
			button.btn.fat.small Clear Filters

	div.empty(style='display:none')
		p No tables in database.
		button.btn.fat
			i.icon.refresh
			span Load from HyperPin

	.clearfix

block inner-footer
	h2 Available Actions:
	.row-fluid
		.span4#hpsync
			h3 Resync with HyperPin
			p Read HyperPin's XML, analyze table files and update the local database.
			button.btn.fat.small
				i.icon.refresh
				span Resync
		.span4#ipdbsync
			h3 Match with IPDB.org
			p Match re-creations with IPDB and fetch additional data.
			button.btn.fat.small
				i.icon.refresh
				span Match
		.span4#dlrom
			h3 Retrieve game ROMs
			p Try to retrieve needed ROMs from IPDB.org or vpforums.org.
			button.btn.fat.small
				i.icon.refresh
				span Download
	.row-fluid
		.span4#dlmedia
			h3 Find Missing Media
			p Check vpforums.org for available media packs.
			button.btn.fat.small
				i.icon.refresh
				span Find
		.span4#fetchhs
			h3 Update High Scores
			p Read Highscores from tables and update stats.
			button.btn.fat.small
				i.icon.refresh
				span Update
		.span4

block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('tables');
		});