extends layout

block inner-content
	- contentFor('javascripts', '<script type="text/javascript" src="/socket.io/socket.io.js"></script>')
	- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.tablednd.0.9.rc1'))
	- contentFor('javascripts', javascriptIncludeTag('admin_transfers'))

	.inner(ng-controller='DataCtrl')

		//- control bar
		div.controls(style='display:none')

			//- pager
			pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

			//- number of rows
			numrows.numrows.input-mini.pull-right(selection='[10, 20, 50, 100]', value='limit')

			//- search box
			searchbox(value='search', wait='300')

			//- filter pills
			ul.nav.nav-pills.pull-left.filter(filters, value='filters')
				li
					.icon
						i.icon.filter(title="Filter results by missing")
				li(data-filter="completed", selected="selected")
					a(href="#") Completed
				li(data-filter="table")
					a(href="#") Table
				li(data-filter="rom")
					a(href="#") ROM
				li(data-filter="media")
					a(href="#") Media
		.clearfix

		//- data
		div.data.ng-cloak(resource='Transfer.GetAll', style='display:none')
			table.table#transfers
				thead
						th(style='width:5px')
						th(style='width:100px')
						th(style='width:40px') Size
						th(style='width:10px')
						th Name
						th(style='width:120px') Added
						th(style='width:95px')
				tbody
					tr(ng-repeat='transfer in data', ng-controller='TransferItemCtrl', id='{{transfer.id}}', ng-class='classes', sortable, deletable)
						td
							span.dragHandle(ng-show='showDragHandle')
								i.icon.sort
						td
							.progress.progress-striped(class='{{progressBarClass}}')
								.bar(style="width: {{progress}}%;")
						td.size {{transfer.displaySize}}
						td 
							i.icon(class='{{icon}}')
						td
							span(ng-bind-html="displayName")
							a(href='{{transfer.url}}', target='_blank')
								i.icon.link
						td {{transfer.queuedSince}}
						td.nowrap
							ul.pills.small
								li.link
									a
										i.icon.info
								li.link.delete
									a
										i.icon.trash

		//- empty search result
		div.noresult(style='display:none')
			p No results found.
			button.btn.submit.small Clear Filters

		//- no data
		div.nodata(style='display:none')
			p There are currently no downloads in the queue. New downloads will appear automatically.
			i.icon.download-alt
	.clearfix

block inner-footer
	h2 Available Actions:
	.row
		.span3.action
			h3 Control Panel
			p Manually start, resume, pause or stop the queue.
			button.btn.submit.small.more(ng-disabled='startDisabled', ng-click='start()')
				i.icon.play
			button.btn.submit.small.more(ng-disabled='pauseDisabled', ng-click='pause()')
				i.icon.pause
			button.btn.submit.small.more(ng-disabled='stopDisabled', ng-click='stop()')
				i.icon.stop
			span.transfer-status.ng-cloak
				strong.status {{status}}
		.span3.action
			h3 Clear downloaded
			p Remove all completed transfers from the database.
			button.btn.submit.small
				i.icon.trash
				span Clear
		.span3.action
			h3 Reset failed
			p Clear and re-add all failed transfers to the queue.
			button.btn.submit.small(ng-click='resetFailed()')
				i.icon.refresh
				span Reset
		

block inlineScripts
	script
		$(document).ready(function() {
			// init menu
			menu('settings');
			submenu('transfers');

			// initialize scope variables
			var transferScope = $('div[ng-controller="TransferCtrl"]').scope();
			transferScope.status = '!{status}';
			transferScope.$apply();

		});