extends layout

block inner-content
	- contentFor('javascripts', '<script type="text/javascript" src="/socket.io/socket.io.js"></script>')
	- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.waitforimages-1.4.2.min'))
	- contentFor('javascripts', javascriptIncludeTag('admin_transfers'))

	div.data.vpf.transfers(ng-controller='DataCtrl')

		//- pager
		pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

		//- number of rows
		numrows.numrows.input-mini.pull-right(selection='[10, 20, 50, 100]', value='limit')

		//- search box
		searchbox(value='search', wait='300')

		//- filter pills
		ul.nav.nav-pills.pull-left.filter(filters, value='filters')
			li
				.icon
					i.icon.filter(title="Filter results by missing")
			li(data-filter="completed", selected="selected")
				a(href="#") Completed
			li(data-filter="table")
				a(href="#") Table
			li(data-filter="rom")
				a(href="#") ROM
			li(data-filter="media")
				a(href="#") Media
		.clearfix

		//- data
		.wrapper.ng-cloak(resource='Transfer.GetAll')
			table.table#transfers
				thead
					tr
						th
						th Name
						th(style='width:100px') Added
						th(style='width:70px') Status
				tbody
					tr(ng-repeat='transfer in data')
						td
						td {{transfer.title}}
						td
						td

		//- empty search result
		div.noresult(style='display:none')
			p No results found.
			button.btn.fat.small Clear Filters

		//- no data
		div.empty(style='display:none')
			p There are currently no downloads in the queue. New downloads will appear automatically.

	.clearfix

block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('transfers');
		});