extends layout

block inner-content
	- contentFor('javascripts', '<script type="text/javascript" src="/socket.io/socket.io.js"></script>')
	- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.tablednd.0.9.rc1'))
	- contentFor('javascripts', javascriptIncludeTag('admin_transfers'))

	div(ng-controller='DataCtrl')

		//- control bar
		div.controls(style='display:none')

			//- pager
			pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

			//- number of rows
			numrows.numrows.input-mini.pull-right(selection='[10, 20, 50, 100]', value='limit')

			//- search box
			searchbox(value='search', wait='300')

			//- filter pills
			ul.nav.nav-pills.pull-left.filter(filters, value='filters')
				li
					.icon
						i.icon.filter(title="Filter results by missing")
				li(data-filter="completed", selected="selected")
					a(href="#") Completed
				li(data-filter="table")
					a(href="#") Table
				li(data-filter="rom")
					a(href="#") ROM
				li(data-filter="media")
					a(href="#") Media
		.clearfix

		//- data
		div.data.ng-cloak(resource='Transfer.GetAll', style='display:none')
			table.table#transfers
				thead
					
						th(style='width:5px')
						th(style='width:100px')
						th Name
						th(style='width:100px') Added
						th(style='width:70px') Status
						th(style='width:70px') Actions
				tbody
					tr(ng-repeat='transfer in data', id='{{transfer.id}}', sortable)
						td.dragHandle
							i.icon.sort
						td
							.progress.progress-striped.active
								.bar(style="width: 0%;")
						td {{transfer.title}}
						td {{transfer.queuedSince}}
						td
						td
							button.btn.btn-mini.btn-primary(type="button")
								i.icon.ok
							button.btn.btn-mini.btn-danger(type="button")
								i.icon.ok

		//- empty search result
		div.noresult(style='display:none')
			p No results found.
			button.btn.fat.small Clear Filters

		//- no data
		div.nodata(style='display:none')
			p There are currently no downloads in the queue. New downloads will appear automatically.
			i.icon.download-alt
	.clearfix

block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('transfers');
		});