extends layout

block inner-content
	- contentFor('javascripts', javascriptIncludeTag('admin_users'))
	div.data.users(style='display:none')

		.pagination.pagination-small.pull-right
			ul(data-page="1")
				li.first.disabled
					a
						i.icon.arrow-left
				li.p1.current
					a 1
				li.last
					a
						i.icon.arrow-right

		select.numrows.input-mini.pull-right
			option(selected="selected") 10
			option 20
			option 50
			option 100

		ul.nav.nav-pills.pull-left.filter
			li(data-filter="neverlogged")
				a(href="#") Never logged
			li(data-filter="nocredits")
				a(href="#") No credits

		.clearfix
		.wrapper(style='display:none')
			table.table
				thead
					tr
						th(style='width: 80%') Login
						th(style='width: 20%') Credits
				tbody

		div.noresult(style='display:none')
			p No users found.
			button.btn.fat.small Clear Filters

	div.empty(style='display:none')
		p No users in database.
		button.btn.fat
			i.icon.refresh
			span Load from HyperPin

	.clearfix

block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('users');
		});