extends ../layouts/inner

block vars
	- var pageController = 'NoopCtrl'
	- var mainMenu = "coin"

block content
	div.span10.offset1.content
		section
			.page-header
				h1 Drop A Coin

			.inner.middle
				p
					| Drop a coin into the running game. Make sure a game is running,
					| if you drop coins into HyperPin, you're losing credits for
					| nothing.
				br

		.dmd.middle(data-credits="{{user.credits}}")
			span GAME OVER

		section.coindrop
			.row
				.offset2.span3
					#coinleft.fuzzy3d
						button Drop -.20
					p Gives you <b>one</b> credit.
					.clearfix
				.offset2.span3
					#coinright.fuzzy3d
						button Drop -.50
					p Gives you <b>three</b> credits.
					.clearfix

			section.alerts

block inlineScripts
	script
		$(document).ready(function() {
			menu('coin');
			updateCredits();
		});
