extends ../layouts/inner

block vars
	- var pageController = 'HiscoreCtrl'
	- var mainMenu = "hiscores"

block content
	div.span10.offset1.content
		section(ng-controller='DataCtrl', resource="table.all")
			.page-header
				h1 High Scores

			.inner
				//- control bar
				div.controls(style='display:none')

					//- pager
					pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

					//- number of rows
					numrows.numrows.input-mini.pull-right(selection='[6, 12, 24, 36]', value='limit')

					//- search box
					searchbox(value='search', wait='300')

					//- filter pills
					ul.nav.nav-pills.pull-left.filter(filters, value='filters')
						li
							.icon
								i.icon.filter(title="Filter high scores by")
						li(data-filter="hiscoreUser")
							a.username(href="#") {{user.user}}
						li(data-filter="hiscoreUsers")
							a(href="#") Registered
					.clearfix

				//- data
				div.data.ng-cloak(style="display:none")
					.row-fluid
						ul.thumbnails.hiscores
							li.span4(ng-repeat='table in data', ng-animate="{ enter: 'animated fadeIn' }", slider='200', tb-768-980='span6')
								include ../layouts/snippets/hiscore
				.clearfix

				//- no data
				div.nodata.action(style='display:none')
					p No tables in database.
				//- no data
				div.noresult.action(style='display:none')
					p No high scores available.