extends ../layouts/inner

block vars
	- var pageController = 'NoopCtrl'
	- var mainMenu = "text"

block content
	div.span3.sidebar
		ul.nav.nav-list.sidenav(data-spy='affix', data-offset-top='47')
			li.active
				a(href="#overview") Overview
			li
				a(href="#transitions") Other topic
	div.span9
		div.content
			a(id='overview')
			h1 Contents
			p Consul eleifend mea ad. An case lorem meliore pri, in utinam aliquid pericula eum. Ad putent debitis voluptatibus sed. Ne quo dicat indoctum, eius constituto sea ne, eam posse impetus expetenda in. Delenit fabellas in per, mei ea probatus voluptatum. Discere rationibus mea ut, eum eripuit deseruisse in, his quodsi mollis sensibus ad.

			p Ex graece omnesque disputationi vix, partem eripuit nostrum vel te. Ut quod putant complectitur nam, wisi maiorum no usu. Eu vis unum dicta fastidii, vix ex fugit sanctus. Vix eros mucius prodesset ei. Essent abhorreant in mel, aliquid intellegam eos an.

			p Euismod torquatos per ei. Quo dicat euripidis ei, vim quod contentiones et. Admodum inciderint ei nec. Ei vim case atqui. Aliquid repudiandae cum at. Impedit consequat in cum, in duo alienum expetenda. Cu sale nostrud reformidans est, elitr nostro vim ea, has sonet vidisse id.

			h2 And yet..
			p In vim zril dictas efficiantur. Eam ad utroque menandri, ea cum vidit ludus quaestio, vim facilisi oportere et. Exerci verterem adipiscing ex sit, vis eu alienum copiosae mediocritatem. Eu pro euismod repudiare, pri ex tollit ignota rationibus, ne labitur facilis eum. In eam blandit argumentum.

			p Mea lobortis appellantur ne, usu in tation laoreet menandri. At vim deseruisse moderatius definitionem, equidem consequat vix ad. Error incorrupte intellegam id mea. Ad sea maiestatis mnesarchum, epicurei theophrastus et usu. Vix diam magna ea.

			a(id='transitions')
			h1 Other topic
			p Ne eos debitis eligendi mandamus. Pri erat diceret euripidis in. No saepe virtute laboramus vix. Soleat scribentur usu cu, quem antiopam recteque no qui. Eum iracundia maiestatis et.

			p Choro molestiae vis ea. Ad putant democritum mel. Eu etiam option accumsan ius, ne homero dolore detraxit eam, ne iusto recusabo scriptorem sit. Per posse oratio ut, tritani numquam scriptorem per te, delenit intellegam eum cu. Id est iusto congue latine, eu ludus regione aliquid per. Augue doctus debitis per ne, vim quidam causae vulputate at.

			p Mundi honestatis dissentiet vim ei. Debet erant ius in, vis graece copiosae te, his at aliquid necessitatibus. Eum quod graecis ea. Nec ei vivendum iudicabit hendrerit, te iudico appellantur eos, ei vel rebum minim.

			p Graecis evertitur mnesarchum te ius. Eu suas accumsan his, no duo doming nominavi appareat. Invidunt efficiantur contentiones nec at, ei quem integre principes usu. Eam eu alterum epicurei evertitur, et per deseruisse philosophia. Essent scripta eos ut, ea veritus pertinacia posidonium nec, noster euripidis ius et.

			p Pri ea appareat assueverit repudiandae. Mea facete audire in, cu dolor laboramus consetetur vim. Cu erat probo principes vix. Eum modo iriure salutatus ut, numquam corrumpit reprehendunt at vix. Qui vidisse nostrud no, causae euismod platonem cu vim. Ei cum recusabo persequeris, eripuit labores appareat has ne, et vix aeterno postulant constituto.
