#get-credentials.modal-single-input.modal.hide.fade
	button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
	form( method="post")#get-credentials-form
		div.modal-header
			h2 Retrieve Password
		div.modal-body
			p Please enter the email address associated with your account.
			input(type="text", name="email", id='email-tf').input-block-level.required
			div.alert.alert-error.hide
		div.modal-footer
			button(type="submit")#submit.btn.btn-primary Submit
			button(data-dismiss="modal")#cancel.btn.fatlink Cancel
