!!! 5
html(lang="en", ng-app="app")
	head
		!= SocketStream
		meta(charset="utf-8")
		meta(name="Expires", content="Tue, 01 Jun 1999 19:58:02 GMT")
		title Angular Example
	body(data-spy='scroll', data-target='.sidebar')
		div(ng-view)
