!!! 5
html(lang="en", ng-app="app")
	head
		!= SocketStream
		meta(charset="utf-8")
		meta(name="Expires", content="Tue, 01 Jun 1999 19:58:02 GMT")
		title Pind - A Pinball Daemon
	body(data-spy='scroll', data-target='.sidebar', ng-controller="AppCtrl")
		div(ng-view)

		include modals/alert
		include modals/updating