ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li.active
       != linkTo('tables', path_to.tables())

.page-header
  h1 Index of tables


.row
  .span12
     p
        != linkTo('<i class="icon-plus icon-white"></i> New table', path_to.new_table(), {class: 'btn btn-primary'})

- if (tables.length) {
.row
  .span12
     table.table.table-striped
       thead
         tr
           th ID
           th.span3 Actions
       tbody
         - tables.forEach(function (table) {
         tr
           td
             != linkTo('table #' + table.id, path_to.table(table))
           td
             != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_table(table), {class: 'btn btn-mini'}) + ' '
             != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.table(table), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
         - });
- } else{
.row
  .span12
     p.alert.alert-block.alert-info
        strong No tables were found.
- }
