ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != linkTo('tables', pathTo.tables())
       span.divider /
    li.active
       a(href='#') New table

.page-header
  h1 New table

- var form = formFor(table, {action: pathTo.tables(), method: 'POST', id: "table_form", class: 'form-horizontal'})

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i>  Create table', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.tables(), {class: 'btn'})
!= form.end()
