ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != link_to('tables', pathTo.tables)
       span.divider /
    li.active
       a(href='#') Details of table

.page-header
  h1 Details of table

div(about=path_to.table(table))
  table.table.table-bordered
    tbody
      tr
        td id
        td
          != table.id
        tr
        td name
        td
          != table.name
        tr
        td manufacturer
        td
          != table.manufacturer
        tr
        td year
        td
          != table.year
        tr
        td type
        td
          != table.type
        tr
        td platform
        td
          != table.platform
        tr
        td added
        td
          != table.added
        tr
        td updated
        td
          != table.updated
        tr
        td enabled
        td
          != table.enabled

.well
  != linkTo('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_table(table), {class: 'btn btn-primary'}) + ' '
  != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.table(table), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != linkTo('Back to index', pathTo.tables)
