div(ng-controller="AuthCtrl")
	.boxglow
		form.singlebox.login
			.modal-header
				.icon.key
				h1 Login here!
				p.subheading If you don't have an account, press the register button to sign up for a new account.
			.modal-body
				input.input.input-large(name="user", type="text", placeholder="Username", ng-model="username")
				.icon.inputhint.user
				input.input.input-large(name="pass", type="password", placeholder="Password", ng-model="password")
				.icon.inputhint.locked
			.modal-footer
				button.right(name="submit", type="submit", ng-click="login()") Login
				a#create-account.link-big(href="/signup") Register
			.modal-subfooter.lastfooter
				input#remember-me-checkbox(name="rememberme", type="checkbox", ng-model="rememberme")
				label#remember-me.checkbox.link-small(for="remember-me-checkbox") Remember Me
				a#forgot-password.link-small(href="#") Forgot password?
