div(ng-controller="AuthCtrl")
	.boxglow
		form.singlebox.register
			.modal-header
				.icon.pen
				h1 Signup
				p.subheading Get playing. With balls.
			.modal-body
				.control-group.user
					input.input.input-large(name="user", type="text", placeholder="Username", ng-model="user")
					.icon.inputhint.user
					span.help-block Your three-letter acronym. Case doesn't matter.
				.control-group.pass
					input.input.input-large(name="pass", type="password", placeholder="Password", ng-model="password")
					.icon.inputhint.locked
					span.help-block At least six chars.
			.modal-footer
				button.right(name="submit", type="submit", ng-click="signup()") Go!
				a#create-account.link-big(href="/login") Cancel

	include modals/form-errors
	include modals/alert



