extends layout

block vars
	- var pageController = 'NoopCtrl'
	- var mainMenu = "admin"
	- var subMenu = "global"

block inner-content

	div(ng-controller='GlobalCtrl')

		.inner.middle
			h2 Check for Updates

		.center.ng-cloak
			h3 Now Running
			div.dmd.middle
				span {{version}}
			p.lbl From {{date}}, see&nbsp;
				a.tt(href="{{url}}", target="_blank") {{sha}}.

			button.btn.submit.small(ng-click='checkVersionUpdate()', ng-disabled='checking')
				i.icon.refresh(ng-class='checkBtnClass')
				span Check for Update

		.inner(ng-controller='DataCtrl')
			h2 Upgrade History

			//- control bar
			div.controls(style='display:none')

				//- pager
				pager.pagination.pagination-small.pull-right(page='page', pages='numpages')

				//- number of rows
				numrows.numrows.input-mini.pull-right(selection='[10, 20, 50, 100]', value='limit')

			.clearfix

			//- data
			div.data.ng-cloak(resource='Pind.GetPreviousUpdates', style='display:none')
				table.table
					thead
						tr
							th(style='width:14px')
							th(style='width:70px') From
							th(style='width:70px') To
							th(style='width:120px') When
							th(style='width:55px') Commits
							th Settings
							th Deps
							th Migrations
							th(style='width:14px')
					tbody
						tr(ng-repeat='upgrade in data', ng-controller='UpgradeRowController')
							td
								span.status(data-original-title='{{ statusInfo }}')
									i.icon(class="{{ statusIcon }}")
								span.popover(style='display:none')
									ul
										li(ng-repeat='e in upgrade.result.errors')
											span.label {{ e.when }}
											| {{ e.message }}

							td {{ fromVersion }}
							td {{ toVersion }}
							td
								span(data-toggle='tooltip', data-original-title='{{ upgrade.completedAt | date:"medium" }}') {{ upgrade.completedSince }}
							td
								span(ng-bind-html="upgrade | githubRange", data-toggle='tooltip', data-original-title='{{ commitInfo }}')
							td
								span(ng-bind-html="settings", data-original-title='New Settings')
								span.popover(style='display:none')
									table
										tr
											th Setting
											th Description
										tr(ng-repeat='setting in newSettings')
											td
												| {{ setting.p }} <strong>{{ setting.name }}</strong>
												| = {{ setting.v}}
												span(ng-bind-html="setting.warning")
											td(ng-bind-html="setting.d")
							td
								span(ng-bind-html="dependencies", data-original-title='Dependencies')
								span.popover(style='display:none')
									h4 Added
									ul
										li(ng-repeat='a in upgrade.result.dependencies.added')
											span(ng-bind-html='a.linkedName')
											| &nbsp;&nbsp;<tt>{{ a.version }}</tt>
									h4 Updated
									ul
										li(ng-repeat='u in upgrade.result.dependencies.updated')
											span(ng-bind-html='u.linkedName')
											| &nbsp;&nbsp;<tt>{{ u.from }}</tt> &rarr; <tt>{{ u.version }}</tt>
									h4 Removed
									ul
										li(ng-repeat='r in upgrade.result.dependencies.removed')
											span(ng-bind-html='r.linkedName')
											| &nbsp;&nbsp;<tt>{{ r.version }}</tt>
							td
								span(ng-bind-html="migrations", data-toggle='tooltip', data-original-title='{{ migrationsInfo }}')
							td
								span(data-toggle='popover', data-original-title='Upgrade Log', data-placement='left')
									i.icon.file
								span.popover(style='display:none')
									ul
										li(ng-repeat='r in upgrade.log.out') {{ r }}

			//- no data
			div.nodata
				p No previous updates yet.

		//- MODAL: update found
		.modal-alert.modal.hide.fade.update-found
			button.close(data-dismiss="modal") &times;
			div.modal-header
				h2
					i.icon.pd-round.big
					span Update found!
			.clearfix
			div.modal-body
				dl.dl-horizontal
					dt Version
					dd {{updateVersion}}
					dt Committed
					dd {{updateSince}}
					dt By
					dd {{updateAuthor}}
					dt Details
					dd
						i.icon.github-alt
						span &nbsp;
						a(href="{{updateLink}}", target='_blank') {{sha}}

			div.modal-footer
				button.btn.btn-warning.submit.right(data-dismiss="modal", ng-click="updatePind()") Upgrade
				a.cancel.btn.link-big(href='#') Cancel

		//- MODAL: no update
		.modal-alert.modal.hide.fade.no-update
			button.close(data-dismiss="modal") &times;
			div.modal-header
				h2
					i.icon.pd-round.big
					span No update found.
			.clearfix
			div.modal-body
				p.center Check back later.

			div.modal-footer
				button.btn.btn-warning.submit.right(data-dismiss="modal") Okay

block inner-footer
	h2 Available Actions:
	.row-fluid
		.span4.action#restart
			h3 Restart Pind
			p Kills the Node.js process. Use this if you've updated <tt>settings-mine.js</tt>.
			button.btn.submit.small(ng-click="restartDialog()")
				i.icon.off
				span Restart

	//- MODAL: restart?
	.modal-alert.modal.hide.fade.restart
		button.close(data-dismiss="modal") &times;
		div.modal-header
			h2
				i.icon.off.big
				span Restart Pind?
		.clearfix
		.modal-footer
			button.btn.btn-warning.submit.right(data-dismiss="modal", ng-click="restart()") Restart
			a.cancel.btn.link-big(href='#') Cancel

	//- MODAL: restarting
	.modal-alert.modal.hide.fade.restarting
		div.modal-header
			h2
				i.icon.off.big
				span Restarting Pind...
		.clearfix
		div.modal-body.center
			i.icon.spinner2.updating.spin.slow
		div.modal-footer
			p


block inlineScripts
	script
		$(document).ready(function() {
			menu('settings');
			submenu('global');
		});