extends outer

block body
	div.navbar.navbar-static-top
		div.navbar-inner
			a(href='#{pathTo.root}').icon.pind
			div.container-fluid
				ul#global-nav.nav
					li.active
						a Control Panel
					li
						a Second nav
				ul.nav.pull-right
					li
						a(href='#{pathTo.logout}')#btn-logout
							i.icon.settings
					li
						a(href='#{pathTo.logout}')#btn-logout
							i.icon.exit

	div.container-fluid
		div.row-fluid
			block content