extends outer

block body
	div.navbar.navbar-static-top
		div.navbar-inner
			a(href='#{pathTo.root}').icon.pind
			div.container-fluid
				ul#global-nav.nav
					li
						a(href='#{pathTo.root}')#btn-root Tables
					li
						a High Scores
				ul.nav.pull-right
					li
						a(href='#{pathTo.admin}').icon#btn-settings
							i.icon.settings
					li
						a(href='#{pathTo.logout}').icon#btn-logout
							i.icon.exit

	div.container
		div.row-fluid
			block content