!!! 5
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width', initial-scale='1.0')
		meta(name='login', content=pathTo.login)
		!= stylesheetLinkTag('vendor/bootstrap/bootstrap', 'vendor/colorbox/colorbox')
		!= stylesheetLinkTag('symbols', 'fonts', 'definitions', 'layout', 'element', 'module')
		!= csrfMetaTag()
		- contentFor('javascripts', javascriptIncludeTag('vendor/juration'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery-2.0.0.min'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.form'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.cookie'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/jquery/jquery.highcharts-3.0.2.min'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/bootstrap/bootstrap'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/underscore/underscore-1.4.4.min'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/angularjs/angular-1.0.6.min'))
		- contentFor('javascripts', javascriptIncludeTag('vendor/angularjs/angular-sanitize.min'))
		- contentFor('javascripts', javascriptIncludeTag('application'))
		- contentFor('javascripts', javascriptIncludeTag('module_pind'))
	body(data-spy='scroll', data-target='.sidebar')
		block body
		block scripts
			!= contentFor('javascripts')
		block modals
		block inlineScripts
